In [1]:
import pandas as pd

In [2]:
rbs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/running_backs.txt')

In [3]:
rbs

,NAME,RTG,TEAM,GP,ATT,YDS,YDS/ATT,ATT/G,100+ YDS,TD,LONG,FUM,FUML
0,Spencer Ware,83.0,KC,3,17,51,3.0,5.7,0,0,6,1,0
1,DJ Foster,60.0,ARI,1,0,0,0.0,0.0,0,0,0,0,0
2,Rod Smith,65.0,OAK,6,0,0,0.0,0.0,0,0,0,0,0
3,Trey Edmunds,60.0,PIT,11,22,92,4.2,2.0,0,0,45,0,0
4,Jeremy McNichols,69.0,JAX,1,0,0,0.0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,David Fluellen,64.0,TEN,2,0,0,0.0,0.0,0,0,0,0,0
147,Senorise Perry,63.0,BUF,11,3,3,1.0,0.3,0,0,6,0,0
148,Elijhaa Penny,62.0,NYG,16,15,39,2.6,0.9,0,0,6,0,0
149,Alex Armah,62.0,CAR,16,6,11,1.8,0.4,0,1,4,0,0
150,Tyler Ervin,62.0,GB,8,1,10,10.0,0.1,0,0,10,2,0

In [4]:
rbs['YDS'] = rbs['YDS'].str.replace(',', '').astype('int64')

In [5]:
rbs.rename(columns=lambda x: x.strip(), inplace = True)

In [6]:
rbs = rbs[rbs['ATT'] > 16].copy()

In [7]:
rbs

,NAME,RTG,TEAM,GP,ATT,YDS,YDS/ATT,ATT/G,100+ YDS,TD,LONG,FUM,FUML
0,Spencer Ware,83.0,KC,3,17,51,3.0,5.7,0,0,6,1,0
3,Trey Edmunds,60.0,PIT,11,22,92,4.2,2.0,0,0,45,0,0
5,Tra Carson,59.0,DET,3,18,48,2.7,6.0,0,0,12,0,0
9,Bo Scarbrough,68.0,DET,6,89,377,4.2,14.8,0,1,30,1,1
14,Boston Scott,67.0,PHI,11,61,245,4.0,5.5,0,5,25,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Mark Walton,68.0,MIA,7,53,201,3.8,7.6,0,0,19,1,1
141,Darrel Williams,66.0,KC,10,41,141,3.4,4.1,0,3,41,1,1
142,Jonathan Williams,65.0,IND,9,49,235,4.8,5.4,2,1,48,0,0
143,Mike Boone,65.0,MIN,16,49,273,5.6,3.1,1,3,59,0,0
144,Jaylen Samuels,65.0,PIT,14,66,175,2.7,4.7,0,1,13,1,1

In [8]:
rbs.drop(columns = ['RTG', 'TEAM', 'GP'], inplace = True)

In [9]:
rbs = rbs.groupby('NAME', sort= False).mean()

In [10]:
rbs.dtypes

ATT           int64
YDS           int64
YDS/ATT     float64
ATT/G       float64
100+ YDS      int64
TD            int64
LONG          int64
FUM           int64
FUML          int64
dtype: object

In [11]:
rbs_stats = rbs.copy()

In [12]:
rbs['YDS_rank'] = rbs['YDS'].rank(ascending = False)

In [13]:
rbs['ATT_rank'] = rbs['ATT'].rank(ascending = False)

In [14]:
rbs['YDS/ATT_rank'] = rbs['YDS/ATT'].rank(ascending = False)

In [15]:
rbs['ATT/G_rank'] = rbs['ATT/G'].rank(ascending = False)

In [16]:
rbs['100+ YDS_rank'] = rbs['100+ YDS'].rank(ascending = False)

In [17]:
rbs['TD_rank'] = rbs['TD'].rank(ascending = False)

In [18]:
rbs['LONG_rank'] = rbs['LONG'].rank(ascending = False)

In [19]:
rbs['FUM_rank'] = rbs['FUM'].rank()

In [20]:
rbs['FUML_rank'] = rbs['FUML'].rank()

In [21]:
rbs.to_csv('../Capstone_csv_file/rbs_stats_rank_19-20')

In [22]:
rbs_rank = rbs.drop(['ATT', 'YDS/ATT', 'ATT/G', '100+ YDS', 'TD', 'LONG', 'FUM', 'FUML', 'YDS'], axis = 1)

In [23]:
rbs_rank['overall'] = (rbs['ATT_rank'] + rbs['YDS/ATT_rank'] + rbs['ATT/G_rank'] +
                       rbs['100+ YDS_rank'] + rbs['TD_rank'] + rbs['LONG_rank'] + rbs['FUM_rank'] + 
                       rbs['FUML_rank'] + rbs['YDS_rank'])/9

In [24]:
rbs_rank

,YDS_rank,ATT_rank,YDS/ATT_rank,ATT/G_rank,100+ YDS_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank,overall
NAME,,,,,,,,,,
Spencer Ware,95.0,96.0,91.5,55.5,68.5,86.0,96.5,52.0,22.5,73.722222
Trey Edmunds,89.0,90.5,47.0,93.5,68.5,86.0,26.5,18.0,22.5,60.166667
Tra Carson,97.0,93.5,94.0,54.0,68.5,86.0,92.0,18.0,22.5,69.500000
Bo Scarbrough,48.0,47.0,47.0,17.5,68.5,68.5,49.5,52.0,62.0,51.111111
Boston Scott,59.5,60.0,53.5,57.0,68.5,27.0,60.0,92.5,62.0,60.000000
...,...,...,...,...,...,...,...,...,...,...
Mark Walton,66.0,64.5,65.5,47.5,68.5,86.0,71.0,52.0,62.0,64.777778
Darrel Williams,76.0,73.0,83.0,70.0,68.5,41.5,31.5,52.0,62.0,61.944444
Jonathan Williams,61.0,69.5,22.0,58.5,20.0,68.5,24.5,18.0,22.5,40.500000
Mike Boone,55.5,69.5,6.5,82.0,32.0,41.5,14.5,18.0,22.5,38.000000
Jaylen Samuels,71.0,54.0,94.0,64.0,68.5,68.5,89.5,52.0,62.0,69.277778

In [25]:
rbs_final_rank = {}

In [26]:
rbs_final_rank['final_rank'] = rbs_rank['overall'].rank()

In [27]:
rbs_final_rank = pd.DataFrame(rbs_final_rank)

In [28]:
rbs_final_rank = rbs_final_rank.sort_values('final_rank')

In [29]:
rbs_final_rank.to_csv('../Capstone_csv_file/rbs_final_rank_19-20')

In [30]:
rbs

,ATT,YDS,YDS/ATT,ATT/G,100+ YDS,TD,LONG,FUM,FUML,YDS_rank,ATT_rank,YDS/ATT_rank,ATT/G_rank,100+ YDS_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank
NAME,,,,,,,,,,,,,,,,,,
Spencer Ware,17,51,3.0,5.7,0,0,6,1,0,95.0,96.0,91.5,55.5,68.5,86.0,96.5,52.0,22.5
Trey Edmunds,22,92,4.2,2.0,0,0,45,0,0,89.0,90.5,47.0,93.5,68.5,86.0,26.5,18.0,22.5
Tra Carson,18,48,2.7,6.0,0,0,12,0,0,97.0,93.5,94.0,54.0,68.5,86.0,92.0,18.0,22.5
Bo Scarbrough,89,377,4.2,14.8,0,1,30,1,1,48.0,47.0,47.0,17.5,68.5,68.5,49.5,52.0,62.0
Boston Scott,61,245,4.0,5.5,0,5,25,4,1,59.5,60.0,53.5,57.0,68.5,27.0,60.0,92.5,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Mark Walton,53,201,3.8,7.6,0,0,19,1,1,66.0,64.5,65.5,47.5,68.5,86.0,71.0,52.0,62.0
Darrel Williams,41,141,3.4,4.1,0,3,41,1,1,76.0,73.0,83.0,70.0,68.5,41.5,31.5,52.0,62.0
Jonathan Williams,49,235,4.8,5.4,2,1,48,0,0,61.0,69.5,22.0,58.5,20.0,68.5,24.5,18.0,22.5
Mike Boone,49,273,5.6,3.1,1,3,59,0,0,55.5,69.5,6.5,82.0,32.0,41.5,14.5,18.0,22.5
Jaylen Samuels,66,175,2.7,4.7,0,1,13,1,1,71.0,54.0,94.0,64.0,68.5,68.5,89.5,52.0,62.0