In [1]:
import pandas as pd

In [2]:
rbs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/running_backs_17-18.txt')

In [3]:
rbs

,NAME,RTG,TEAM,GP,ATT,YDS,YDS/ATT,ATT/G,100+ YDS,TD,LONG,FUM,FUML
0,Le'Veon Bell,93,PIT,15,321,"1,291",59.5,21.4,4,9,27,3,2
1,David Johnson,89,ARI,1,11,23,2.1,11.0,0,0,6,2,1
2,Ezekiel Elliott,96,DAL,10,242,983,38.2,24.2,5,7,30,1,1
3,Todd Gurley,95,LAR,15,279,"1,305",70.5,18.6,6,13,57,5,2
4,Kareem Hunt,89,KC,16,272,"1,327",106.0,17.0,6,8,69,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Terrell Watson,61,PIT,10,5,8,8.0,0.5,0,0,3,0,0
147,Tion Green,61,DET,5,42,165,19.5,8.4,0,2,33,0,0
148,Trey Edmunds,60,NO,16,9,48,5.3,0.6,0,1,41,0,0
149,DJ Foster,60,ARI,7,6,19,13.0,0.9,0,0,5,0,0
150,Josh Ferguson,59,IND,10,1,5,5.0,0.1,0,0,5,0,0

In [4]:
rbs['YDS'] = rbs['YDS'].str.replace(',', '').astype('int64')

In [5]:
rbs.rename(columns=lambda x: x.strip(), inplace = True)

In [6]:
rbs = rbs[rbs['ATT'] > 16].copy()

In [7]:
rbs

,NAME,RTG,TEAM,GP,ATT,YDS,YDS/ATT,ATT/G,100+ YDS,TD,LONG,FUM,FUML
0,Le'Veon Bell,93,PIT,15,321,1291,59.5,21.4,4,9,27,3,2
2,Ezekiel Elliott,96,DAL,10,242,983,38.2,24.2,5,7,30,1,1
3,Todd Gurley,95,LAR,15,279,1305,70.5,18.6,6,13,57,5,2
4,Kareem Hunt,89,KC,16,272,1327,106.0,17.0,6,8,69,1,1
5,LeSean McCoy,83,BUF,16,287,1138,61.9,17.9,4,6,48,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,Chris Carson,88,SEA,4,49,208,17.7,12.2,0,0,30,0,0
132,Rod Smith,65,DAL,15,55,232,39.7,3.7,0,4,45,0,0
141,Peyton Barber,75,TB,16,108,423,30.6,6.8,1,3,34,2,1
143,Elijhaa Penny,62,ARI,16,31,124,20.9,1.9,0,2,14,0,0
147,Tion Green,61,DET,5,42,165,19.5,8.4,0,2,33,0,0

In [8]:
rbs.drop(columns = ['RTG', 'TEAM', 'GP'], inplace = True)

In [9]:
rbs = rbs.groupby('NAME', sort= False).mean()

In [10]:
rbs.dtypes

ATT           int64
YDS           int64
YDS/ATT     float64
ATT/G       float64
100+ YDS      int64
TD            int64
LONG          int64
FUM           int64
FUML          int64
dtype: object

In [11]:
rbs_stats = rbs.copy()

In [12]:
rbs['YDS_rank'] = rbs['YDS'].rank(ascending = False)

In [13]:
rbs['ATT_rank'] = rbs['ATT'].rank(ascending = False)

In [14]:
rbs['YDS/ATT_rank'] = rbs['YDS/ATT'].rank(ascending = False)

In [15]:
rbs['ATT/G_rank'] = rbs['ATT/G'].rank(ascending = False)

In [16]:
rbs['100+ YDS_rank'] = rbs['100+ YDS'].rank(ascending = False)

In [17]:
rbs['TD_rank'] = rbs['TD'].rank(ascending = False)

In [18]:
rbs['LONG_rank'] = rbs['LONG'].rank(ascending = False)

In [19]:
rbs['FUM_rank'] = rbs['FUM'].rank()

In [20]:
rbs['FUML_rank'] = rbs['FUML'].rank()

In [21]:
rbs.to_csv('../Capstone_csv_file/rbs_stats_rank_17-18')

In [22]:
rbs_rank = rbs.drop(['ATT', 'YDS/ATT', 'ATT/G', '100+ YDS', 'TD', 'LONG', 'FUM', 'FUML', 'YDS'], axis = 1)

In [23]:
rbs_rank['overall'] = (rbs['ATT_rank'] + rbs['YDS/ATT_rank'] + rbs['ATT/G_rank'] +
                       rbs['100+ YDS_rank'] + rbs['TD_rank'] + rbs['LONG_rank'] + 
                       rbs['FUM_rank'] + rbs['FUML_rank'] + rbs['YDS_rank'])/9

In [24]:
rbs_rank

,YDS_rank,ATT_rank,YDS/ATT_rank,ATT/G_rank,100+ YDS_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank,overall
NAME,,,,,,,,,,
Le'Veon Bell,3.0,1.0,31.5,2.0,7.0,4.0,60.0,87.5,87.5,31.500000
Ezekiel Elliott,10.0,10.0,64.0,1.0,4.0,12.0,55.5,51.0,64.0,30.166667
Todd Gurley,2.0,4.0,11.0,4.0,1.5,1.0,23.0,97.0,87.5,25.666667
Kareem Hunt,1.0,6.0,1.0,9.0,1.5,8.0,12.0,51.0,64.0,17.055556
LeSean McCoy,4.0,2.0,22.0,6.0,7.0,16.0,29.5,87.5,64.0,26.444444
...,...,...,...,...,...,...,...,...,...,...
Chris Carson,71.0,72.5,91.0,27.0,68.5,89.5,55.5,17.5,24.5,57.444444
Rod Smith,70.0,71.0,62.0,83.5,68.5,28.5,34.0,17.5,24.5,51.055556
Peyton Barber,44.0,43.0,71.0,57.5,32.0,38.0,47.0,74.5,64.0,52.333333
Elijhaa Penny,85.0,87.0,83.0,93.5,68.5,53.0,89.0,17.5,24.5,66.777778
Tion Green,78.0,81.0,86.0,46.0,68.5,53.0,50.5,17.5,24.5,56.111111

In [25]:
rbs_final_rank = {}

In [26]:
rbs_final_rank['final_rank'] = rbs_rank['overall'].rank()

In [27]:
rbs_final_rank = pd.DataFrame(rbs_final_rank)

In [28]:
rbs_final_rank = rbs_final_rank.sort_values('final_rank')

In [29]:
rbs_final_rank.to_csv('../Capstone_csv_file/rbs_final_rank_17-18')

In [30]:
rbs

,ATT,YDS,YDS/ATT,ATT/G,100+ YDS,TD,LONG,FUM,FUML,YDS_rank,ATT_rank,YDS/ATT_rank,ATT/G_rank,100+ YDS_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank
NAME,,,,,,,,,,,,,,,,,,
Le'Veon Bell,321,1291,59.5,21.4,4,9,27,3,2,3.0,1.0,31.5,2.0,7.0,4.0,60.0,87.5,87.5
Ezekiel Elliott,242,983,38.2,24.2,5,7,30,1,1,10.0,10.0,64.0,1.0,4.0,12.0,55.5,51.0,64.0
Todd Gurley,279,1305,70.5,18.6,6,13,57,5,2,2.0,4.0,11.0,4.0,1.5,1.0,23.0,97.0,87.5
Kareem Hunt,272,1327,106.0,17.0,6,8,69,1,1,1.0,6.0,1.0,9.0,1.5,8.0,12.0,51.0,64.0
LeSean McCoy,287,1138,61.9,17.9,4,6,48,3,1,4.0,2.0,22.0,6.0,7.0,16.0,29.5,87.5,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Chris Carson,49,208,17.7,12.2,0,0,30,0,0,71.0,72.5,91.0,27.0,68.5,89.5,55.5,17.5,24.5
Rod Smith,55,232,39.7,3.7,0,4,45,0,0,70.0,71.0,62.0,83.5,68.5,28.5,34.0,17.5,24.5
Peyton Barber,108,423,30.6,6.8,1,3,34,2,1,44.0,43.0,71.0,57.5,32.0,38.0,47.0,74.5,64.0
Elijhaa Penny,31,124,20.9,1.9,0,2,14,0,0,85.0,87.0,83.0,93.5,68.5,53.0,89.0,17.5,24.5
Tion Green,42,165,19.5,8.4,0,2,33,0,0,78.0,81.0,86.0,46.0,68.5,53.0,50.5,17.5,24.5