In [1]:
import pandas as pd

In [2]:
rbs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/running_backs_18-19.txt')

In [3]:
rbs

,NAME,RTG,TEAM,GP,ATT,YDS,YDS/ATT,ATT/G,100+ YDS,TD,LONG,FUM,FUML
0,Robert Turbin,78,IND,2,4,10,2.5,2.0,0,0,5,1,1
1,Roc Thomas,65,MIN,5,8,30,3.8,1.6,0,0,23,0,0
2,Jeffery Wilson,65,SF,6,66,266,4.0,11.0,0,0,18,3,2
3,Kenjon Barner,72,CAR,9,19,71,3.7,2.1,0,0,11,1,0
4,Boston Scott,67,PHI,1,0,0,0.0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Peyton Barber,75,TB,16,234,871,3.7,14.6,1,5,28,1,1
148,Senorise Perry,63,MIA,16,0,0,0.0,0.0,0,0,0,0,0
149,Alex Armah,62,CAR,16,9,15,1.7,0.6,0,2,4,0,0
150,Tyler Ervin,62,HOU,9,0,0,0.0,0.0,0,0,0,1,0
151,Tra Carson,59,GB,6,0,0,0.0,0.0,0,0,0,0,0

In [4]:
rbs['YDS'] = rbs['YDS'].str.replace(',', '').astype('int64')

In [5]:
rbs.rename(columns=lambda x: x.strip(), inplace = True)

In [6]:
rbs = rbs[rbs['ATT'] > 16].copy()

In [7]:
rbs

,NAME,RTG,TEAM,GP,ATT,YDS,YDS/ATT,ATT/G,100+ YDS,TD,LONG,FUM,FUML
2,Jeffery Wilson,65,SF,6,66,266,4.0,11.0,0,0,18,3,2
3,Kenjon Barner,72,CAR,9,19,71,3.7,2.1,0,0,11,1,0
5,Mark Ingram,87,NO,12,138,645,4.7,11.5,2,6,38,3,1
10,Gus Edwards,73,BAL,11,137,718,5.2,12.5,3,2,43,0,0
12,Dwayne Washington,67,NO,6,27,154,5.7,4.5,1,0,28,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Rod Smith,65,DAL,16,44,127,2.9,2.8,0,1,14,0,0
140,Jaylen Samuels,65,PIT,14,56,256,4.6,4.0,1,0,25,1,0
142,Ito Smith,76,ATL,14,90,315,3.5,6.4,0,4,18,1,0
144,Raheem Mostert,73,SF,9,34,261,7.7,3.8,0,1,52,1,1
147,Peyton Barber,75,TB,16,234,871,3.7,14.6,1,5,28,1,1

In [8]:
rbs.drop(columns = ['RTG', 'TEAM', 'GP'], inplace = True)

In [9]:
rbs = rbs.groupby('NAME', sort= False).mean()

In [10]:
rbs.dtypes

ATT           int64
YDS           int64
YDS/ATT     float64
ATT/G       float64
100+ YDS      int64
TD            int64
LONG          int64
FUM           int64
FUML          int64
dtype: object

In [11]:
rbs_stats = rbs.copy()

In [12]:
rbs['YDS_rank'] = rbs['YDS'].rank(ascending = False)

In [13]:
rbs['ATT_rank'] = rbs['ATT'].rank(ascending = False)

In [14]:
rbs['YDS/ATT_rank'] = rbs['YDS/ATT'].rank(ascending = False)

In [15]:
rbs['ATT/G_rank'] = rbs['ATT/G'].rank(ascending = False)

In [16]:
rbs['100+ YDS_rank'] = rbs['100+ YDS'].rank(ascending = False)

In [17]:
rbs['TD_rank'] = rbs['TD'].rank(ascending = False)

In [18]:
rbs['LONG_rank'] = rbs['LONG'].rank(ascending = False)

In [19]:
rbs['FUM_rank'] = rbs['FUM'].rank()

In [20]:
rbs['FUML_rank'] = rbs['FUML'].rank()

In [21]:
rbs.to_csv('../Capstone_csv_file/rbs_stats_rank_18-19')

In [22]:
rbs_rank = rbs.drop(['ATT', 'YDS/ATT', 'ATT/G', '100+ YDS', 'TD', 'LONG', 'FUM', 'FUML', 'YDS'], axis = 1)

In [23]:
rbs_rank['overall'] = (rbs['ATT_rank'] + rbs['YDS/ATT_rank'] + rbs['ATT/G_rank'] +
                       rbs['100+ YDS_rank'] + rbs['TD_rank'] + rbs['LONG_rank'] + 
                       rbs['FUM_rank'] + rbs['FUML_rank'] + rbs['YDS_rank'])/9

In [24]:
rbs_rank

,YDS_rank,ATT_rank,YDS/ATT_rank,ATT/G_rank,100+ YDS_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank,overall
NAME,,,,,,,,,,
Jeffery Wilson,60.0,59.0,63.0,35.5,70.0,88.5,78.0,87.5,87.5,69.888889
Kenjon Barner,94.0,95.5,72.5,93.5,70.0,88.5,92.5,49.5,23.5,75.500000
Mark Ingram,28.0,32.0,34.0,28.0,20.5,21.0,34.5,87.5,64.0,38.833333
Gus Edwards,26.0,33.0,14.0,22.0,14.0,57.5,28.0,16.0,23.5,26.000000
Dwayne Washington,83.0,89.5,4.0,70.0,34.0,88.5,55.0,16.0,23.5,51.500000
...,...,...,...,...,...,...,...,...,...,...
Rod Smith,84.0,74.0,91.0,87.0,70.0,72.0,88.0,16.0,23.5,67.277778
Jaylen Samuels,65.5,64.5,40.5,72.0,34.0,88.5,61.0,49.5,23.5,55.444444
Ito Smith,57.0,51.5,79.0,58.0,70.0,33.5,78.0,49.5,23.5,55.555556
Raheem Mostert,62.0,83.5,2.0,75.5,70.0,72.0,20.5,49.5,64.0,55.444444
Peyton Barber,19.0,9.0,72.5,16.5,34.0,27.0,55.0,49.5,64.0,38.500000

In [25]:
rbs_final_rank = {}

In [26]:
rbs_final_rank['final_rank'] = rbs_rank['overall'].rank()

In [27]:
rbs_final_rank = pd.DataFrame(rbs_final_rank)

In [28]:
rbs_final_rank = rbs_final_rank.sort_values('final_rank')

In [29]:
rbs_final_rank.to_csv('../Capstone_csv_file/rbs_final_rank_18-19')

In [30]:
rbs

,ATT,YDS,YDS/ATT,ATT/G,100+ YDS,TD,LONG,FUM,FUML,YDS_rank,ATT_rank,YDS/ATT_rank,ATT/G_rank,100+ YDS_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank
NAME,,,,,,,,,,,,,,,,,,
Jeffery Wilson,66,266,4.0,11.0,0,0,18,3,2,60.0,59.0,63.0,35.5,70.0,88.5,78.0,87.5,87.5
Kenjon Barner,19,71,3.7,2.1,0,0,11,1,0,94.0,95.5,72.5,93.5,70.0,88.5,92.5,49.5,23.5
Mark Ingram,138,645,4.7,11.5,2,6,38,3,1,28.0,32.0,34.0,28.0,20.5,21.0,34.5,87.5,64.0
Gus Edwards,137,718,5.2,12.5,3,2,43,0,0,26.0,33.0,14.0,22.0,14.0,57.5,28.0,16.0,23.5
Dwayne Washington,27,154,5.7,4.5,1,0,28,0,0,83.0,89.5,4.0,70.0,34.0,88.5,55.0,16.0,23.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Rod Smith,44,127,2.9,2.8,0,1,14,0,0,84.0,74.0,91.0,87.0,70.0,72.0,88.0,16.0,23.5
Jaylen Samuels,56,256,4.6,4.0,1,0,25,1,0,65.5,64.5,40.5,72.0,34.0,88.5,61.0,49.5,23.5
Ito Smith,90,315,3.5,6.4,0,4,18,1,0,57.0,51.5,79.0,58.0,70.0,33.5,78.0,49.5,23.5
Raheem Mostert,34,261,7.7,3.8,0,1,52,1,1,62.0,83.5,2.0,75.5,70.0,72.0,20.5,49.5,64.0
Peyton Barber,234,871,3.7,14.6,1,5,28,1,1,19.0,9.0,72.5,16.5,34.0,27.0,55.0,49.5,64.0