# QBS Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_td_rank_17-18')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                  TD  TD_rank    salary
NAME
Russell Wilson    34      1.0  21900000
Carson Wentz      33      2.0   6669085
Tom Brady         32      3.0  20500000
Matthew Stafford  29      4.0  27000000
Jared Goff        28      6.0   6984418

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_td_salary_17-18')