# WRS Salary 100+ Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_final_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                     final_rank    salary
NAME
Antonio Brown               2.0  17000000
T.Y. Hilton                 3.0  13000000
Davante Adams               4.0  14500000
Stefon Diggs                5.0  14400000
JuJu Smith-Schuster         6.0   1048945

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_final_salary_18-19')