# QBS Salary Att Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_att_rank_18-19')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                    ATT  ATT_rank    salary
NAME
Ben Roethlisberger  675       1.0  21850000
Andrew Luck         639       2.0  24594000
Matt Ryan           608       3.0  30000000
Kirk Cousins        606       4.0  28000000
Aaron Rodgers       597       5.0  33500000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_att_salary_18-19')