# RBS Salary Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_yds_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                      YDS  YDS_rank    salary
NAME
Ezekiel Elliott      1435       1.0   6239085
Saquon Barkley       1307       2.0   7798688
Todd Gurley          1251       3.0  14375000
Joe Mixon            1168       4.0   1362544
Christian McCaffrey  1098       6.0   4310326

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_yds_salary_18-19')