# TES Salary Final Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_final_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

              final_rank    salary
NAME
Jared Cook           2.0   5300000
Jimmy Graham         3.0  10000000
Travis Kelce         4.0   9368400
Zach Ertz            5.0   8500000
David Njoku          6.0   2381274

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_final_salary_18-19')