# TES Salary 100+ Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_100+_yds_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                100+ YDS  100+ YDS_rank   salary
NAME
Travis Kelce           5            1.5  9368400
Zach Ertz              5            1.5  8500000
Jared Cook             4            3.5  5300000
Rob Gronkowski         2            5.0  9000000
Trey Burton            1            9.0  8000000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_100+_yds_salary_18-19')