# TES Salary Rec Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_rec_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

               REC  REC_rank   salary
NAME
Travis Kelce    97       1.0  9368400
Darren Waller   90       2.0  7450000
Zach Ertz       88       3.0  8500000
Tyler Higbee    64       6.0  7250000
Mark Andrews    62       8.0   863290

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_rec_salary_19-20')