# QBS Salary Sack Rank

In [6]:
import pandas as pd

In [7]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [8]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_sacks_rank_19-20')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [9]:
qbs_final_salary.head()

                    SACKS  SACKS_rank    salary
NAME
Ben Roethlisberger      2         2.0  34000000
Matt Schaub             2         2.0   1890000
Matt Barkley            2         2.0   2000000
Robert Griffin III      4         4.0   2000000
Drew Lock               5         6.5   1752704

In [10]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_sacks_salary_19-20')