# WRS Salary Long Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_long_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                     LONG  LONG_rank   salary
NAME
A.J. Brown             91        2.0  1413092
Mecole Hardman         83        4.5  1248763
Marquise Brown         83        4.5  2946835
James Washington       79        6.0  1125336
JuJu Smith-Schuster    76        7.0  1048945

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_long_salary_19-20')