# WRS Salary Yds/Rec Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_yds_rec_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                  YDS/REC  YDS/REC_rank    salary
NAME
Marquise Goodwin    325.2           1.0   3000000
Marvin Jones        306.5           2.0   8000000
Brandin Cooks       278.3           3.0   2095863
Julio Jones         260.2           5.0  14251209
Paul Richardson     253.6           6.0   1178209

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_yds_rec_salary_17-18')