# WRS Salary Long Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_long_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                     LONG  LONG_rank    salary
NAME
JuJu Smith-Schuster    97        1.0   1048945
Robert Woods           94        2.0   6800000
Amari Cooper           87        3.0   5665779
Marquise Goodwin       83        4.0   3000000
T.Y. Hilton            80        5.0  13000000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_long_salary_17-18')