# QBS Salary Sack Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_sack_yds_rank_18-19')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                   SACK YDS  SACK YDS_rank    salary
NAME
Teddy Bridgewater         8            2.5   6000000
Derek Anderson           33            5.5   1073530
Josh McCown              35            8.0  10000000
Colt McCoy               36            9.0   3250000
Blaine Gabbert           37           10.0   2000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_sacks_yds_salary_18-19')