# TES Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_td_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                TD  TD_rank    salary
NAME
Jimmy Graham    10      1.0  10000000
Rob Gronkowski   8      3.5   9000000
Zach Ertz        8      3.5   8500000
Kyle Rudolph     8      3.5   7300000
Travis Kelce     8      3.5   9368400

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_td_salary_17-18')