# WRS Salary FumL Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_fuml_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                 FUML  FUML_rank    salary
NAME
Antonio Brown       0       54.0  17000000
Phillip Dorsett     0       54.0   2033854
Jaron Brown         0       54.0   1910000
Zay Jones           0       54.0   1694958
Brice Butler        0       54.0   1100000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_fuml_salary_17-18')