# QBS Salary Comp Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_comp_rank_19-20')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

              COMP  COMP_rank    salary
NAME
Matt Ryan      408        1.0  30000000
Carson Wentz   388        3.5  32000000
Tom Brady      373        6.0  23000000
Jared Goff     368        7.0  33500000
Derek Carr     361        8.0  25000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_comp_salary_19-20')