# WRS Salary 100+ Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_100+_yds_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                 100+ YDS  100+ YDS_rank    salary
NAME
Michael Thomas         10            1.0  19250000
Chris Godwin            6            2.5    821041
Julio Jones             6            2.5  22000000
Davante Adams           5            6.5  14500000
DeAndre Hopkins         5            6.5  16200000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_100+_yds_salary_19-20')