# TES Salary Yds/Rec Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_yds_rec_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                YDS/REC  YDS/REC_rank   salary
NAME
Vernon Davis      223.3           1.0  5000000
Rob Gronkowski    204.7           2.0  9000000
Garrett Celek     191.8           4.0  2550000
Jared Cook        185.8           7.5  5300000
Eric Ebron        177.9           9.0  3062287

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_yds_rec_salary_17-18')