# WRS Salary Tgt/G Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_tgt_g_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                  TGT/G  TGT/G_rank    salary
NAME
Antonio Brown      11.6         1.5  17000000
DeAndre Hopkins    11.6         1.5  16200000
Larry Fitzgerald   10.1         4.5  11000000
Keenan Allen        9.9         6.0  11250000
Michael Thomas      9.3         7.0   1797000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_tgt_g_salary_17-18')