# TES Salary Final Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_final_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

               final_rank   salary
NAME
Jared Cook            3.0  7500000
Evan Engram           4.0  2679576
Travis Kelce          5.0  9368400
Darren Waller         6.0  7450000
Tyler Higbee          7.0  7250000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_final_salary_19-20')