# WRS Salary Yds/Rec Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_yds_rec_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                  YDS/REC  YDS/REC_rank    salary
NAME
DeSean Jackson       18.9           3.0  11166667
Russell Shepard      18.8           4.0   1250000
Mike Evans           17.7           6.0  16500000
Dante Pettis         17.3           7.0   1600140
Marquise Goodwin     17.2           8.0   6416667

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_yds_rec_salary_18-19')