# QBS Salary FumL Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_fuml_rank_19-20')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                    FUML  FUML_rank    salary
NAME
Teddy Bridgewater      0        7.5   7250000
Robert Griffin III     0        7.5   2000000
Josh Rosen             0        7.5   4399439
Drew Brees             0        7.5  25000000
Mason Rudolph          0        7.5    980472

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_fuml_salary_19-20')