# TES Salary Tgt Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_tgt_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

              TGT  TGT_rank    salary
NAME
Zach Ertz     156       1.0   8500000
Travis Kelce  150       2.0   9368400
Eric Ebron    110       4.0   6500000
Jared Cook    101       5.0   5300000
Jimmy Graham   91       6.0  10000000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_tgt_salary_18-19')