# WRS Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_TD_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                 TD  TD_rank    salary
NAME
DeAndre Hopkins  13      1.0  16200000
Davante Adams    10      2.0  14500000
Antonio Brown     9      4.5  17000000
Alshon Jeffery    9      4.5  13000000
Marvin Jones      9      4.5   8000000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_td_salary_17-18')