# RBS Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_att_g_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                   ATT/G  ATT/G_rank    salary
NAME
Ezekiel Elliott     24.2         1.0   6239085
Le'Veon Bell        21.4         2.0  12120000
Leonard Fournette   20.6         3.0   6787711
Todd Gurley         18.6         4.0   3455796
Dalvin Cook         18.5         5.0   1588334

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_att_g_salary_17-18')