# RBS Salary Yds Att Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_yds_att_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                  YDS/ATT  YDS/ATT_rank   salary
NAME
Derrius Guice         5.8           4.0  1135483
Rashaad Penny         5.7           5.0  2691360
Raheem Mostert        5.6           6.5  2900000
Tony Pollard          5.3          10.0   796945
Devin Singletary      5.1          12.0   974500

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_yds_att_salary_19-20')