# TES Salary Tgt Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_tgt_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

               TGT  TGT_rank   salary
NAME
Travis Kelce   136       1.0  9368400
Zach Ertz      135       2.0  8500000
Darren Waller  117       3.0  7450000
Mark Andrews    95       6.0   863290
Mike Gesicki    89       7.0  1652981

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_tgt_salary_19-20')