# RBS Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_TD_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                   TD  TD_rank    salary
NAME
Todd Gurley        13      1.0   3455796
Mark Ingram        12      2.0   4000000
Le'Veon Bell        9      4.0  12120000
Leonard Fournette   9      4.0   6787711
Melvin Gordon       8      8.0   2667443

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_td_salary_17-18')