# QBS Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_td_rank_19-20')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                 TD  TD_rank    salary
NAME
Lamar Jackson    31      2.5   2367912
Russell Wilson   31      2.5  35000000
Carson Wentz     27      6.0  32000000
Jimmy Garoppolo  27      6.0  27500000
Drew Brees       27      6.0  25000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_td_salary_19-20')