# WRS Salary Tgt Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_tgt_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                  TGT  TGT_rank    salary
NAME
DeAndre Hopkins   174       1.0  16200000
Antonio Brown     162       2.0  17000000
Larry Fitzgerald  161       3.5  11000000
Keenan Allen      159       5.0  11250000
Michael Thomas    149       6.0   1797000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_tgt_salary_17-18')