# QBS Salary Comp% Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_comp%_rank_17-18')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

              COMP%  COMP%_rank    salary
NAME
Landry Jones   82.1         2.0   2200000
Sam Bradford   74.4         3.0  18000000
Drew Brees     72.0         4.0  24250000
Case Keenum    67.6         5.0   2000000
Alex Smith     67.5         6.0  17000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_comp%_salary_17-18')