# RBS Salary FumL Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_fuml_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                FUML  FUML_rank   salary
NAME
Duke Johnson       0       23.5  5203333
Chris Ivory        0       23.5  2750000
Melvin Gordon      0       23.5  2667443
Frank Gore         0       23.5  1105000
Marshawn Lynch     0       23.5  4500000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_fuml_salary_18-19')