# WRS Salary Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_yds_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                 YDS  YDS_rank    salary
NAME
Michael Thomas  1725       1.0  19250000
Julio Jones     1394       2.0  22000000
Chris Godwin    1333       3.0    821041
Keenan Allen    1199       5.0  11250000
Kenny Golladay  1190       6.0    799081

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_yds_salary_19-20')