# TES Salary Yds/Rec Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_yds_rec_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

               YDS/REC  YDS/REC_rank   salary
NAME
Jared Cook        16.4           1.5  7500000
Noah Fant         14.1           4.0  3147680
Dawson Knox       13.9           5.0   880400
Maxx Williams     13.5           6.5  3500000
Mark Andrews      13.0           9.0   863290

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_yds_rec_salary_19-20')