# WRS Salary Long Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_rec_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                 REC  REC_rank    salary
NAME
Michael Thomas   125       1.0   2000000
Michael Thomas   125       1.0   1279743
DeAndre Hopkins  115       2.0  16200000
Julio Jones      113       3.5  14251209
Adam Thielen     113       3.5   4811500

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_rec_salary_18-19')