# QBS Salary Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_yds_rank_17-18')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                     YDS  YDS_rank    salary
NAME
Tom Brady           4577       1.0  20500000
Philip Rivers       4515       2.0  20812500
Matthew Stafford    4446       3.0  27000000
Drew Brees          4334       4.0  24250000
Ben Roethlisberger  4251       5.0  21850000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_yds_salary_17-18')