# TES Salary Tgt/G Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_tgt_g_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

              TGT/G  TGT/G_rank   salary
NAME
Zach Ertz       9.8         1.0  8500000
Travis Kelce    9.4         2.0  9368400
Eric Ebron      6.9         4.0  6500000
Jordan Reed     6.5         5.0  9350000
Jared Cook      6.3         6.0  5300000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_tgt_g_salary_18-19')