# QBS Salary Int Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_int_rank_18-19')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                   INT  INT_rank    salary
NAME
Teddy Bridgewater    1       3.0   6000000
Tyrod Taylor         2       6.5  15250000
Aaron Rodgers        2       6.5  33500000
Chase Daniel         2       6.5   5000000
Jimmy Garoppolo      3      12.0  27500000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_int_salary_18-19')