# WRS Salary Tgt Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_tgt_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                     TGT  TGT_rank    salary
NAME
Julio Jones          170       1.0  14251209
Antonio Brown        169       2.5  17000000
Davante Adams        169       2.5  14500000
JuJu Smith-Schuster  166       4.0   1048945
DeAndre Hopkins      163       5.0  16200000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_tgt_salary_18-19')