# TES Salary Long Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_long_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                LONG  LONG_rank    salary
NAME
Vance McDonald    75        2.5   6550000
David Njoku       66        5.0   2381274
Jimmy Graham      54        7.5  10000000
Evan Engram       54        7.5   2679576
Vernon Davis      53        9.5   5000000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_long_salary_18-19')