# TES Salary 100+ Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_100+_yds_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                100+ YDS  100+ YDS_rank   salary
NAME
Travis Kelce           4            1.0  9368400
Rob Gronkowski         3            2.0  9000000
Jared Cook             2            3.0  5300000
Charles Clay           1            7.0  7600000
Ed Dickson             1            7.0  2033333

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_100+_yds_salary_17-18')