# QBS Salary Att/G Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_att_g_rank_17-18')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                    ATT/G  ATT/G_rank    salary
NAME
Carson Palmer        38.1         1.5  24350000
Eli Manning          38.1         1.5  21000000
Ben Roethlisberger   37.4         3.0  21850000
Tom Brady            36.3         4.0  20500000
Philip Rivers        35.9         5.0  20812500

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_att_g_salary_17-18')