# RBS Salary Yds Att Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_yds_att_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                     YDS/ATT  YDS/ATT_rank   salary
NAME
Kerryon Johnson          5.4           9.0  1625923
Nick Chubb               5.2          14.0  1845774
Damien Williams          5.1          16.5  2550000
Melvin Gordon            5.1          16.5  2667443
Christian McCaffrey      5.0          19.0  4310326

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_yds_att_salary_18-19')