# RBS Salary TD Rank

In [9]:
import pandas as pd

In [10]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [11]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_TD_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [12]:
rbs_final_salary.head()

                     TD  TD_rank    salary
NAME
Christian McCaffrey  15      3.0   4310326
Dalvin Cook          13      4.0   1588334
Todd Gurley          12      5.5  14375000
Ezekiel Elliott      12      5.5  15000000
Mark Ingram           9      7.0   5000000

In [13]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_td_salary_19-20')