# WRS Salary Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_yds_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                      YDS  YDS_rank    salary
NAME
Julio Jones          1677       1.0  14251209
DeAndre Hopkins      1572       2.0  16200000
Mike Evans           1524       3.0  16500000
JuJu Smith-Schuster  1426       5.0   1048945
Michael Thomas       1405       6.0   2000000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_yds_salary_18-19')