# RBS Salary Yds Att Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_yds_att_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                YDS/ATT  YDS/ATT_rank   salary
NAME
Alvin Kamara      104.6           2.0   964443
Alfred Morris      89.2           4.0  1750000
Mark Ingram        78.6           6.0  4000000
Dion Lewis         77.1           7.0  1300000
Isaiah Crowell     71.8          10.0  2746000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_yds_att_salary_17-18')