# TES Salary FumL Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_fuml_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                  FUML  FUML_rank   salary
NAME
Rob Gronkowski       0       26.0  9000000
Darren Fells         0       26.0  1000000
Jermaine Gresham     0       26.0  7000000
Luke Willson         0       26.0  1800000
Vance McDonald       0       26.0  6550000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_fuml_salary_17-18')