# QBS Salary Int Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_int_rank_17-18')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                 INT  INT_rank    salary
NAME
Sam Bradford       0       2.5  18000000
Geno Smith         0       2.5   1200000
Landry Jones       1       7.0   2200000
Patrick Mahomes    1       7.0   4106447
Matt Cassel        2      10.5   2625000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_int_salary_17-18')