# QBS Salary Sack Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_sacks_rank_18-19')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                   SACKS  SACKS_rank   salary
NAME
Teddy Bridgewater      2         3.5  6000000
Blaine Gabbert         5         6.5  2000000
Derek Anderson         5         6.5  1073530
Colt McCoy             6         8.5  3250000
Mark Sanchez           7        11.0   915000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_sacks_salary_18-19')