# RBS Salary Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_yds_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                YDS  YDS_rank    salary
NAME
Todd Gurley    1305       2.0   3455796
Le'Veon Bell   1291       3.0  12120000
LeSean McCoy   1138       4.0   8000000
Mark Ingram    1124       5.0   4000000
Melvin Gordon  1105       7.0   2667443

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_yds_salary_17-18')