# RBS Salary FumL Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_fuml_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                 FUML  FUML_rank   salary
NAME
Eddie Lacy          0       24.5  4250000
Alfred Morris       0       24.5  1750000
Shane Vereen        0       24.5  4116667
Robert Turbin       0       24.5  1350000
Damien Williams     0       24.5  1797000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_fuml_salary_17-18')