# RBS Salary 100+ Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_100+_yds_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                   100+ YDS  100+ YDS_rank    salary
NAME
Todd Gurley               6            1.5   3455796
Ezekiel Elliott           5            4.0   6239085
Leonard Fournette         5            4.0   6787711
Le'Veon Bell              4            7.0  12120000
Mark Ingram               4            7.0   4000000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_100+_salary_17-18')