# QBS Salary Long Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_long_rank_18-19')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                    LONG  LONG_rank    salary
NAME
Ben Roethlisberger    97        1.0  21850000
Patrick Mahomes       89        3.0   4106447
Nick Foles            83        5.0   5500000
Cam Newton            82        6.5  20760000
Blake Bortles         80        8.0  18000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_long_salary_18-19')