# RBS Salary Long Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_long_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                   LONG  LONG_rank   salary
NAME
Leonard Fournette    90        1.0  6787711
Melvin Gordon        87        2.0  2667443
Bilal Powell         75        4.5  3750000
DeMarco Murray       75        4.5  6312500
Derrick Henry        75        4.5  1351982

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_long_salary_17-18')