# RBS Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_TD_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                TD  TD_rank    salary
NAME
Todd Gurley     17      1.0  14375000
Alvin Kamara    14      2.0    964443
Derrick Henry   12      3.5   1351982
Saquon Barkley  11      5.0   7798688
Melvin Gordon   10      6.0   2667443

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_td_salary_18-19')