# RBS Salary Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_yds_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                      YDS  YDS_rank    salary
NAME
Nick Chubb           1494       2.0   1845774
Christian McCaffrey  1387       3.0   4310326
Ezekiel Elliott      1357       4.0  15000000
Leonard Fournette    1152       6.0   6787711
Josh Jacobs          1150       7.0   2983350

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_yds_salary_19-20')