# TES Salary Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_yds_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                 YDS  YDS_rank   salary
NAME
Travis Kelce    1336       2.0  9368400
Zach Ertz       1163       3.0  8500000
Jared Cook       896       4.0  5300000
Eric Ebron       750       5.0  6500000
Rob Gronkowski   682       6.0  9000000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_yds_salary_18-19')