# RBS Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_att_g_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                   ATT/G  ATT/G_rank    salary
NAME
Ezekiel Elliott     20.3         1.0   6239085
Todd Gurley         18.3         2.0  14375000
Joe Mixon           16.9         4.0   1362544
Leonard Fournette   16.6         5.0   6787711
Saquon Barkley      16.3         8.0   7798688

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_att_g_salary_18-19')