# QBS Salary Long Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_long_rank_19-20')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                 LONG  LONG_rank    salary
NAME
Matt Ryan          93        1.0  30000000
Sam Darnold        92        2.0   7561929
Baker Mayfield     89        4.0   8170745
Kyler Murray       88        5.0   8789661
Patrick Mahomes    83        7.5   4106447

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_long_salary_19-20')