# WRS Salary FumL Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_fuml_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                  FUML  FUML_rank   salary
NAME
Torrey Smith         0       54.0  5000000
Courtland Sutton     0       54.0  1710480
Jaron Brown          0       54.0  2750000
Cole Beasley         0       54.0  3401500
Mike Williams        0       54.0  4937482

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_fuml_salary_18-19')