# QBS Salary FumL Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_fuml_rank_17-18')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                  FUML  FUML_rank    salary
NAME
Ryan Fitzpatrick     0        9.0   3000000
Matt Moore           0        9.0   1775000
Patrick Mahomes      0        9.0   4106447
Jay Cutler           0        9.0  10000000
Carson Palmer        0        9.0  24350000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_fuml_salary_17-18')