# TES Salary Rec Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_rec_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

              REC  REC_rank   salary
NAME
Zach Ertz     116       1.0  8500000
Travis Kelce  103       2.0  9368400
Jared Cook     68       5.0  5300000
Eric Ebron     66       6.0  6500000
Kyle Rudolph   64       7.0  7300000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_rec_salary_18-19')