# RBS Salary 100+ Yds Rank

In [14]:
import pandas as pd

In [15]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [16]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_100+_yds_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [17]:
rbs_final_salary.head()

                     100+ YDS  100+ YDS_rank    salary
NAME
Nick Chubb                  7            1.5   1845774
Ezekiel Elliott             7            1.5  15000000
Christian McCaffrey         6            4.0   4310326
Josh Jacobs                 5            7.0   2983350
Dalvin Cook                 5            7.0   1588334

In [18]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_100+_salary_19-20')