# RBS Salary FumL Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_fuml_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                 FUML  FUML_rank   salary
NAME
Royce Freeman       0       22.5   985005
Jamaal Williams     0       22.5   741498
Derrius Guice       0       22.5  1135483
Ito Smith           0       22.5   770219
Qadree Ollison      0       22.5   707891

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_fuml_salary_19-20')