# QBS Salary Sack Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_sacks_rank_17-18')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                 SACKS  SACKS_rank    salary
NAME
Patrick Mahomes      2         3.0   4106447
Landry Jones         3         5.5   2200000
Geno Smith           3         5.5   1200000
Nick Foles           5         9.5   5500000
Sam Bradford         5         9.5  18000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_sacks_salary_17-18')