# QBS Salary QBR Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_qbr_rank_19-20')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                   QBR  QBR_rank    salary
NAME
Russell Wilson   107.8       1.0  35000000
Jimmy Garoppolo  102.5       2.0  27500000
Kirk Cousins     101.3       3.0  28000000
Derek Carr       100.0       5.0  25000000
Lamar Jackson     99.2       6.0   2367912

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_qbr_salary_19-20')