# QBS Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_td_rank_18-19')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                    TD  TD_rank    salary
NAME
Patrick Mahomes     50      1.0   4106447
Andrew Luck         39      2.0  24594000
Matt Ryan           35      3.5  30000000
Russell Wilson      35      3.5  21900000
Ben Roethlisberger  34      5.0  21850000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_td_salary_18-19')