# QBS Salary Att/G Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_att_g_rank_19-20')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

             ATT/G  ATT/G_rank    salary
NAME
Cam Newton    44.5         1.0  20760000
Matt Ryan     41.1         2.0  30000000
Andy Dalton   40.6         3.0  16000000
Jared Goff    39.3         4.0  33500000
Tom Brady     38.3         6.0  23000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_att_g_salary_19-20')