# TES Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_td_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

              TD  TD_rank   salary
NAME
Mark Andrews  10      1.0   863290
Jared Cook     9      2.0  7500000
Zach Ertz      6      5.0  8500000
Kyle Rudolph   6      5.0  9000000
Mike Gesicki   5     10.0  1652981

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_td_salary_19-20')