# QBS Salary QBR Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_qbr_rank_18-19')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                   QBR  QBR_rank    salary
NAME
Patrick Mahomes  113.5       1.0   4106447
Russell Wilson   109.1       2.0  21900000
Matt Ryan        108.1       4.0  30000000
Philip Rivers    105.7       5.0  20812500
Drew Brees       105.1       6.0  25000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_qbr_salary_18-19')