# QBS Salary QBR Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_qbr_rank_17-18')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                    QBR  QBR_rank    salary
NAME
Drew Brees        104.0       1.0  24250000
Tom Brady         102.6       2.0  20500000
Carson Wentz      101.9       3.0   6669085
Matthew Stafford  101.8       4.0  27000000
Alex Smith         99.0       5.0  17000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_qbr_salary_17-18')