# RBS Salary 100+ Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_100+_yds_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                     100+ YDS  100+ YDS_rank    salary
NAME
Saquon Barkley              7            1.5   7798688
Ezekiel Elliott             7            1.5   6239085
Todd Gurley                 6            3.5  14375000
Christian McCaffrey         4            8.5   4310326
Lamar Miller                4            8.5   6500000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_100+_salary_18-19')