# QBS Salary Att Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_att_rank_19-20')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

               ATT  ATT_rank    salary
NAME
Matt Ryan      616       2.0  30000000
Tom Brady      613       3.0  23000000
Carson Wentz   607       4.0  32000000
Jared Goff     589       7.0  33500000
Aaron Rodgers  569       8.0  33500000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_att_salary_19-20')