# WRS Salary Yds/Rec Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_yds_rec_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                YDS/REC  YDS/REC_rank   salary
NAME
Mecole Hardman     20.7           2.0  1248763
Mike Williams      20.4           3.0  4937482
A.J. Brown         20.2           4.0  1413092
Kenny Golladay     18.3           5.0   799081
John Ross          18.1           7.0  4278966

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_yds_rec_salary_19-20')