# TES Salary Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_yds_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                YDS  YDS_rank   salary
NAME
Travis Kelce   1229       1.0  9368400
Darren Waller  1146       2.0  7450000
Zach Ertz       916       4.0  8500000
Mark Andrews    807       5.0   863290
Tyler Higbee    714       7.0  7250000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_yds_salary_19-20')