# QBS Salary Att Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_att_rank_17-18')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                    ATT  ATT_rank    salary
NAME
Tom Brady           581       1.0  20500000
Philip Rivers       575       2.0  20812500
Eli Manning         571       3.0  21000000
Matthew Stafford    565       4.0  27000000
Ben Roethlisberger  561       5.0  21850000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_att_salary_17-18')