# TES Salary FumL Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_fuml_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                FUML  FUML_rank   salary
NAME
Maxx Williams      0       27.0  3500000
Dawson Knox        0       27.0   880400
Nick Boyle         0       27.0  6000000
T.J. Hockenson     0       27.0  4955306
Josh Hill          0       27.0  2950000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_fuml_salary_19-20')