# WRS Salary 100+ Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_final_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                 final_rank    salary
NAME
Brandin Cooks           1.0   2095863
Julio Jones             3.0  14251209
Marvin Jones            4.0   8000000
Doug Baldwin            5.0  11500000
DeAndre Hopkins         6.0  16200000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_final_salary_17-18')