# TES Salary Long Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_long_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

               LONG  LONG_rank   salary
NAME
Evan Engram      75        2.0  2679576
Noah Fant        75        2.0  3147680
Darren Waller    75        2.0  7450000
Hayden Hurst     61        5.0  2759007
Jared Cook       61        5.0  7500000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_long_salary_19-20')