# TES Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_tgt_g_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

               TGT/G  TGT/G_rank   salary
NAME
Zach Ertz        9.0         1.0  8500000
Travis Kelce     8.5         2.5  9368400
Evan Engram      8.5         2.5  2679576
Darren Waller    7.3         6.0  7450000
Mark Andrews     6.8         7.0   863290

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_tgt_g_salary_19-20')