# RBS Salary TD Rank

In [6]:
import pandas as pd

In [7]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [8]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_att_g_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [9]:
rbs_final_salary.head()

                     ATT/G  ATT/G_rank    salary
NAME
Ezekiel Elliott       18.8         2.0  15000000
Josh Jacobs           18.6         3.5   2983350
Nick Chubb            18.6         3.5   1845774
Dalvin Cook           17.9         6.5   1588334
Christian McCaffrey   17.9         6.5   4310326

In [10]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_att_g_salary_19-20')