# QBS Salary Stats Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_stats_rank_17-18')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

,COMP,ATT,ATT/G,YDS,300+ YDS,COMP%,YDS/ATT,YDS/COMP,TD,INT,...,YDS/ATT_rank,YDS/COMP_rank,TD_rank,INT_rank,QBR_rank,LONG_rank,SACKS_rank,SACK YDS_rank,FUML_rank,salary
NAME,,,,,,,,,,,,,,,,,,,,,
Tom Brady,385,581,36.3,4577,6,66.3,7.9,11.9,32,8,...,10.5,12.0,3.0,37.0,2.0,26.5,49.0,45.0,45.0,20500000
Aaron Rodgers,154,238,34.0,1675,3,64.7,7.0,10.9,16,6,...,22.5,38.5,24.0,27.5,30.0,17.0,33.0,38.0,24.5,22000000
Russell Wilson,339,553,34.6,3983,3,61.3,7.2,11.7,34,11,...,20.0,16.5,1.0,42.5,7.5,14.5,55.0,57.0,45.0,21900000
Drew Brees,386,536,33.5,4334,3,72.0,8.1,11.2,23,8,...,5.5,30.0,11.0,37.0,1.0,34.5,28.0,31.0,9.0,24250000
Matt Ryan,342,529,33.1,4095,4,64.7,7.7,12.0,20,12,...,13.0,9.5,17.0,45.0,12.0,3.0,36.5,35.0,45.0,20750000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_stats_salary_17-18')