# WRS Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_TD_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                 TD  TD_rank    salary
NAME
Antonio Brown    15      1.0  17000000
Davante Adams    13      2.0  14500000
DeAndre Hopkins  11      4.0  16200000
Mike Williams    10      6.0   4937482
Calvin Ridley    10      6.0   2725178

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_td_salary_18-19')