# WRS Salary TD Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_TD_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                TD  TD_rank    salary
NAME
Kenny Golladay  11      1.0    799081
Cooper Kupp     10      2.0    957940
Michael Thomas   9      4.5  19250000
Chris Godwin     9      4.5    821041
Marvin Jones     9      4.5   8000000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_td_salary_19-20')