# WRS Salary Tgt Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_tgt_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                 TGT  TGT_rank    salary
NAME
Michael Thomas   185       1.0  19250000
Julio Jones      156       2.0  22000000
Julian Edelman   154       3.0   7750000
Allen Robinson   153       4.0  14000000
DeAndre Hopkins  150       5.0  16200000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_tgt_salary_19-20')