# QBS Salary Att/G Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_att_g_rank_18-19')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                    ATT/G  ATT/G_rank    salary
NAME
Ben Roethlisberger   42.2         1.0  21850000
Joe Flacco           42.1         2.0  22133333
Andrew Luck          39.9         3.0  24594000
Nick Foles           39.0         4.0   5500000
Matt Ryan            38.0         5.0  30000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_att_g_salary_18-19')