# QBS Salary 300+ Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_300+_yds_rank_17-18')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                300+ YDS  300+ YDS_rank    salary
NAME
Tom Brady              6            2.0  20500000
Philip Rivers          6            2.0  20812500
Jameis Winston         6            2.0   6337819
Kirk Cousins           5            5.5  23943600
Alex Smith             5            5.5  17000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_300+_salary_17-18')