# QBS Salary Yds Comp Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_yds_comp_rank_19-20')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                  YDS/COMP  YDS/COMP_rank    salary
NAME
Matthew Stafford      13.4            2.5  27000000
Matt Barkley          13.3            4.0   2000000
Patrick Mahomes       12.6            7.5   4106447
Jimmy Garoppolo       12.1           10.0  27500000
Russell Wilson        12.1           10.0  35000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_yds_comp_salary_19-20')