# WRS Salary 100+ Yds Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_fum_rank_17-18')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                FUM  FUM_rank    salary
NAME
Kenny Britt       0      40.5   1200000
Jarius Wright     0      40.5   3700000
Albert Wilson     0      40.5   1797000
Tyler Boyd        0      40.5  10762500
Kendall Wright    0      40.5   2000000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_fum_salary_17-18')