# TES Salary Yds/Rec Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/tes_yds_rec_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

                  YDS/REC  YDS/REC_rank   salary
NAME
Vernon Davis         14.7           4.0  5000000
Rob Gronkowski       14.5           5.0  9000000
Demetrius Harris     13.7           7.0  2100000
Jared Cook           13.2           8.5  5300000
Travis Kelce         13.0          10.0  9368400

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/tes_yds_rec_salary_18-19')