# QBS Salary Final Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_17-18')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_final_rank_17-18')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

                    final_rank    salary
NAME
Philip Rivers              1.0  20812500
Ben Roethlisberger         2.0  21850000
Drew Brees                 3.0  24250000
Tom Brady                  4.0  20500000
Alex Smith                 5.0  17000000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_final_salary_17-18')