# Defense Tackle Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'SOLO']]

In [7]:
defs.head()

             NAME  SOLO
0    Bobby Wagner    88
1  Blake Martinez    97
2    Jordan Hicks    92
3     Budda Baker   105
4    Luke Kuechly    80

In [10]:
defs['SOLO_rank'] = defs['SOLO'].rank(ascending = False)

In [15]:
defs = defs.sort_values('SOLO_rank')

In [16]:
defs

                NAME  SOLO  SOLO_rank
3        Budda Baker   105        1.0
5    Zach Cunningham   100        2.0
1     Blake Martinez    97        3.5
11         Eric Reid    97        3.5
2       Jordan Hicks    92        5.0
..               ...   ...        ...
145    Danny Shelton    30      196.0
192   Vince Williams    28      197.5
194    Preston Brown    28      197.5
163     Vince Biegel    27      199.0
182   Tyeler Davison    25      200.0

[200 rows x 3 columns]

In [13]:
defs.to_csv('../Capstone_csv_file/defense_solo_tackle_rank_19-20.csv')