# Defense Forced Fumbles Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'FF']]

In [7]:
defs.head()

                NAME  FF
0     Blake Martinez   1
1      Preston Brown   0
2       Joe Schobert   2
3  Christian Kirksey   2
4        Deion Jones   1

In [8]:
defs['FF_rank'] = defs['FF'].rank(ascending = False)

In [9]:
defs = defs.sort_values('FF_rank')

In [10]:
defs

                  NAME  FF  FF_rank
165        Bruce Irvin   4      2.0
54         Glover Quin   4      2.0
23       Lavonte David   4      2.0
109        Budda Baker   3      7.0
108  Lorenzo Alexander   3      7.0
..                 ...  ..      ...
79      Harrison Smith   0    153.0
78      Tony Jefferson   0    153.0
76      Andrew Sendejo   0    153.0
93     Malcolm Jenkins   0    153.0
199     Jaquiski Tartt   0    153.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_ff_rank_17-18.csv')