# Defense Interception Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'INT']]

In [7]:
defs.head()

                   NAME  INT
0        Darius Leonard    2
1        Blake Martinez    0
2  Leighton Vander Esch    2
3          Bobby Wagner    1
4      Anthony Hitchens    0

In [8]:
defs['INT_rank'] = defs['INT'].rank(ascending = False)

In [9]:
defs = defs.sort_values('INT_rank')

In [10]:
defs

               NAME  INT  INT_rank
69   Damontae Kazee    7       1.5
179     Kyle Fuller    7       1.5
48    Alec Ogletree    5       3.5
23   Shawn Williams    5       3.5
99    Donte Jackson    4       8.0
..              ...  ...       ...
18    Lavonte David    0     164.5
146   Bradley Chubb    0     164.5
120     Byron Jones    0     164.5
161   Buster Skrine    0     164.5
153   Ndamukong Suh    0     164.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_int_rank_18-19.csv')