# Defense Fumble Recovered Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'FUMR']]

In [7]:
defs.head()

             NAME  FUMR
0    Bobby Wagner     1
1  Blake Martinez     0
2    Jordan Hicks     1
3     Budda Baker     1
4    Luke Kuechly     0

In [8]:
defs['FUMR_rank'] = defs['FUMR'].rank(ascending = False)

In [9]:
defs = defs.sort_values('FUMR_rank')

In [10]:
defs

                 NAME  FUMR  FUMR_rank
49          Vonn Bell     5        1.0
48        Devin White     4        4.0
29         Devin Bush     4        4.0
138  Deforest Buckner     4        4.0
8      Cory Littleton     4        4.0
..                ...   ...        ...
88        Erik Harris     0      144.0
89    Charvarius Ward     0      144.0
90     Damontae Kazee     0      144.0
83    Jabrill Peppers     0      144.0
199  Clayton Geathers     0      144.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_fumr_rank_19-20.csv')