# Defense Assissted Tackle Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'AST']]

In [7]:
defs.head()

                NAME  AST
0     Blake Martinez   49
1      Preston Brown   60
2       Joe Schobert   56
3  Christian Kirksey   52
4        Deion Jones   47

In [8]:
defs['AST_rank'] = defs['AST'].rank(ascending = False)

In [9]:
defs = defs.sort_values('AST_rank')

In [10]:
defs

                  NAME  AST  AST_rank
1        Preston Brown   60       1.0
2         Joe Schobert   56       2.0
3    Christian Kirksey   52       3.0
0       Blake Martinez   49       4.5
10        Luke Kuechly   49       4.5
..                 ...  ...       ...
193      Jourdan Lewis    6     196.5
154        Darius Slay    6     196.5
175       Brandon Carr    6     196.5
153     Malcolm Butler    5     199.0
174           AJ Bouye    3     200.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_ast_rank_17-18.csv')