# Defense Quarterback Hits Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'QBH']]

In [7]:
defs.head()

                   NAME  QBH
0        Darius Leonard    8
1        Blake Martinez    6
2  Leighton Vander Esch    1
3          Bobby Wagner    7
4      Anthony Hitchens    1

In [8]:
defs['QBH_rank'] = defs['QBH'].rank(ascending = False)

In [9]:
defs = defs.sort_values('QBH_rank')

In [10]:
defs

                   NAME  QBH  QBH_rank
151        Aaron Donald   41       1.0
176            Dee Ford   31       2.0
135             JJ Watt   29       3.0
130   Demarcus Lawrence   24       4.0
116             TJ Watt   23       5.0
..                  ...  ...       ...
93            Eli Apple    0     176.5
165  Hardy Nickerson Jr    0     176.5
168    Morris Claiborne    0     176.5
86     Jordan Whitehead    0     176.5
131           Joe Haden    0     176.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_qbh_rank_18-19.csv')