# Defense Assissted Tackle Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'AST']]

In [7]:
defs.head()

                   NAME  AST
0        Darius Leonard   50
1        Blake Martinez   50
2  Leighton Vander Esch   38
3          Bobby Wagner   55
4      Anthony Hitchens   55

In [8]:
defs['AST_rank'] = defs['AST'].rank(ascending = False)

In [9]:
defs = defs.sort_values('AST_rank')

In [10]:
defs

                 NAME  AST  AST_rank
3        Bobby Wagner   55       1.5
4    Anthony Hitchens   55       1.5
0      Darius Leonard   50       3.5
1      Blake Martinez   50       3.5
6        Mason Foster   49       5.0
..                ...  ...       ...
102   Adoree` Jackson    7     195.5
161     Buster Skrine    6     197.0
125   Jaire Alexander    5     198.0
174    Rashaan Melvin    4     199.0
126      Jalen Ramsey    3     200.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_ast_rank_18-19.csv')