# Defense Tackle Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'TFL']]

In [7]:
defs.head()

                NAME   TFL
0     Blake Martinez  11.5
1      Preston Brown   7.5
2       Joe Schobert   6.5
3  Christian Kirksey   9.5
4        Deion Jones  11.5

In [8]:
defs['TFL_rank'] = defs['TFL'].rank(ascending = False)

In [9]:
defs = defs.sort_values('TFL_rank')

In [10]:
defs

                  NAME   TFL  TFL_rank
161     Chandler Jones  28.5       1.0
159   Jadeveon Clowney  23.0       2.0
169         Von Miller  18.5       4.0
119    Calais Campbell  18.5       4.0
160  Demarcus Lawrence  18.5       4.0
..                 ...   ...       ...
134        Josh Norman   0.0     195.5
127   Trumaine Johnson   0.0     195.5
126         Ron Parker   0.0     195.5
163          EJ Gaines   0.0     195.5
82         Chris Conte   0.0     195.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_tfl_rank_17-18.csv')