# Defense Tackle Rank

In [1]:
import pandas as pd

In [9]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [10]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [11]:
defs = pd.DataFrame(defs)

In [12]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [13]:
defs = defs[['NAME', 'SOLO']]

In [14]:
defs.head()

                NAME  SOLO
0     Blake Martinez    96
1      Preston Brown    84
2       Joe Schobert    85
3  Christian Kirksey    87
4        Deion Jones    91

In [15]:
defs['SOLO_rank'] = defs['SOLO'].rank(ascending = False)

In [16]:
defs = defs.sort_values('SOLO_rank')

In [17]:
defs

               NAME  SOLO  SOLO_rank
5     Demario Davis    97        2.0
6         CJ Mosley    97        2.0
7      Bobby Wagner    97        2.0
0    Blake Martinez    96        4.0
12     Reshad Jones    93        5.0
..              ...   ...        ...
197   Mike Mitchell    36      195.5
171   Calvin Munson    35      197.5
166    Lawrence Guy    35      197.5
184   Grady Jarrett    34      199.0
180     Kenny Clark    33      200.0

[200 rows x 3 columns]

In [18]:
defs.to_csv('../Capstone_csv_file/defense_solo_tackle_rank_17-18.csv')