# Defense Tackle Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'SCK']]

In [7]:
defs.head()

                NAME  SCK
0     Blake Martinez  1.0
1      Preston Brown  0.0
2       Joe Schobert  3.0
3  Christian Kirksey  3.5
4        Deion Jones  1.0

In [8]:
defs['SCK_rank'] = defs['SCK'].rank(ascending = False)

In [9]:
defs = defs.sort_values('SCK_rank')

In [10]:
defs

                  NAME   SCK  SCK_rank
161     Chandler Jones  17.0       1.0
119    Calais Campbell  14.5       2.5
160  Demarcus Lawrence  14.5       2.5
142     Cameron Jordan  13.0       4.0
105          Joey Bosa  12.5       5.0
..                 ...   ...       ...
98       Eddie Jackson   0.0     159.5
100      Hayes Pullard   0.0     159.5
101      Reuben Foster   0.0     159.5
102          Andre Hal   0.0     159.5
99     Marcus Williams   0.0     159.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_sck_rank_17-18.csv')