# Defense Quarterback Hits Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'QBH']]

In [7]:
defs.head()

                NAME  QBH
0     Blake Martinez    2
1      Preston Brown    2
2       Joe Schobert    7
3  Christian Kirksey    6
4        Deion Jones    0

In [8]:
defs['QBH_rank'] = defs['QBH'].rank(ascending = False)

In [9]:
defs = defs.sort_values('QBH_rank')

In [10]:
defs

                  NAME  QBH  QBH_rank
161     Chandler Jones   34       1.0
119    Calais Campbell   30       2.0
142     Cameron Jordan   29       3.0
145       Trey Flowers   26       4.5
160  Demarcus Lawrence   26       4.5
..                 ...  ...       ...
81      Dontae Johnson    0     173.5
62          Micah Hyde    0     173.5
143         Logan Ryan    0     173.5
154        Darius Slay    0     173.5
99     Marcus Williams    0     173.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_qbh_rank_17-18.csv')