# Defense Tackle Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'SCK YDS']]

In [7]:
defs.head()

                NAME  SCK YDS
0     Blake Martinez        0
1      Preston Brown        0
2       Joe Schobert        0
3  Christian Kirksey        0
4        Deion Jones        0

In [8]:
defs['SCK YDS_rank'] = defs['SCK YDS'].rank(ascending = False)

In [9]:
defs = defs.sort_values('SCK YDS_rank')

In [10]:
defs

                    NAME  SCK YDS  SCK YDS_rank
0         Blake Martinez        0         100.5
127     Trumaine Johnson        0         100.5
128         Justin Evans        0         100.5
129       Jason McCourty        0         100.5
130       Tashaun Gipson        0         100.5
..                   ...      ...           ...
70   Ha'Sean Clinton-Dix        0         100.5
71       Craig Robertson        0         100.5
72          George Iloka        0         100.5
62            Micah Hyde        0         100.5
199       Jaquiski Tartt        0         100.5

[200 rows x 3 columns]

In [12]:
defs.to_csv('../Capstone_csv_file/defense_sck_yds_rank_17-18.csv')