# Defense Pass Defense Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'PASS DEF']]

In [7]:
defs.head()

                   NAME  PASS DEF
0        Darius Leonard         8
1        Blake Martinez         3
2  Leighton Vander Esch         7
3          Bobby Wagner        10
4      Anthony Hitchens         0

In [8]:
defs['PASS DEF_rank'] = defs['PASS DEF'].rank(ascending = False)

In [9]:
defs = defs.sort_values('PASS DEF_rank')

In [10]:
defs

                 NAME  PASS DEF  PASS DEF_rank
179       Kyle Fuller        19            1.0
58     Kareem Jackson        17            2.0
109   Janoris Jenkins        15            4.0
111   James Bradberry        15            4.0
117     Steven Nelson        15            4.0
..                ...       ...            ...
4    Anthony Hitchens         0          195.5
150      Lawrence Guy         0          195.5
148  Dalvin Tomlinson         0          195.5
141    Jonathan Allen         0          195.5
177     Gerald Hodges         0          195.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_pass_def_rank_18-19.csv')