# Defense Fumble Recovery Yards Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'FUMR YDS']]

In [7]:
defs.head()

             NAME  FUMR YDS
0    Bobby Wagner         5
1  Blake Martinez         0
2    Jordan Hicks         0
3     Budda Baker         0
4    Luke Kuechly         0

In [8]:
defs['FUMR YDS_rank'] = defs['FUMR YDS'].rank(ascending = False)

In [9]:
defs = defs.sort_values('FUMR YDS_rank')

In [10]:
defs

                   NAME  FUMR YDS  FUMR YDS_rank
48          Devin White       121            1.0
122     Marlon Humphrey        91            2.0
106  Minkah Fitzpatrick        79            3.0
102      Kareem Jackson        70            4.0
23        Rashaan Evans        53            5.0
..                  ...       ...            ...
78      Nick Kwiatkoski         0          120.0
79         Levi Wallace         0          120.0
199    Clayton Geathers         0          120.0
101     Ronnie Harrison        -3          199.0
68        James Burgess        -4          200.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_fumr_yds_rank_19-20.csv')