# Defense Tackle Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'SCK YDS']]

In [7]:
defs.head()

             NAME  SCK YDS
0    Bobby Wagner     16.0
1  Blake Martinez     20.0
2    Jordan Hicks     11.5
3     Budda Baker      4.0
4    Luke Kuechly      0.0

In [8]:
defs['SCK YDS_rank'] = defs['SCK YDS'].rank(ascending = False)

In [9]:
defs = defs.sort_values('SCK YDS_rank')

In [10]:
defs

                 NAME  SCK YDS  SCK YDS_rank
165   Shaquil Barrett    131.5           1.0
103   Danielle Hunter    113.5           2.0
186   Za'Darius Smith    112.5           3.0
189           TJ Watt    109.0           4.0
195        Matt Judon     89.5           5.0
..                ...      ...           ...
89    Charvarius Ward      0.0         157.5
88        Erik Harris      0.0         157.5
85     Drue Tranquill      0.0         157.5
143  Montae Nicholson      0.0         157.5
199  Clayton Geathers      0.0         157.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_sck_yds_rank_19-20.csv')