# Defense Interception Yards Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'INT YDS']]

In [7]:
defs.head()

                NAME  INT YDS
0     Blake Martinez        3
1      Preston Brown        0
2       Joe Schobert        8
3  Christian Kirksey        0
4        Deion Jones       42

In [8]:
defs['INT YDS_rank'] = defs['INT YDS'].rank(ascending = False)

In [9]:
defs = defs.sort_values('INT YDS_rank')

In [10]:
defs

                 NAME  INT YDS  INT YDS_rank
49        Kevin Byard      130           1.0
51   Darqueze Dennard      109           2.0
185   Dre Kirkpatrick      101           3.0
48        Earl Thomas       97           4.0
6           CJ Mosley       94           5.0
..                ...      ...           ...
50       Ramon Humber        0         147.0
123         Eric Reid        0         147.0
136       Brock Coyle        0         147.0
153    Malcolm Butler       -1         199.5
75        Karl Joseph       -1         199.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_int_yds_rank_17-18.csv')