# Defense Tackle Rank

In [2]:
import pandas as pd

In [3]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [4]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [5]:
defs = pd.DataFrame(defs)

In [6]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [7]:
defs = defs[['NAME', 'TCKL']]

In [8]:
defs.head()

             NAME  TCKL
0    Bobby Wagner   158
1  Blake Martinez   154
2    Jordan Hicks   148
3     Budda Baker   148
4    Luke Kuechly   144

In [9]:
defs['TCKL_rank'] = defs['TCKL'].rank(ascending = False)

In [10]:
defs = defs.sort_values('TCKL_rank')

In [11]:
defs

                 NAME  TCKL  TCKL_rank
0        Bobby Wagner   158        1.0
1      Blake Martinez   154        2.0
2        Jordan Hicks   148        3.5
3         Budda Baker   148        3.5
4        Luke Kuechly   144        5.0
..                ...   ...        ...
198     Arik Armstead    54      195.5
131  Michael Brockers    54      195.5
191   Marcus Williams    54      195.5
199  Clayton Geathers    54      195.5
195        Matt Judon    52      200.0

[200 rows x 3 columns]

In [12]:
defs.to_csv('../Capstone_csv_file/defense_tackle_rank_19-20.csv')