# EDA of Defensive Statistics

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.head()

,NAME,RTG,TEAM,GP,TCKL,SOLO,AST,TFL,SCK,SCK YDS,QBH,PASS DEF,FF,FUMR,FUMR YDS,FUMR TD,INT,INT YDS,INT TD
0,Darius Leonard,85,IND,15,161,111,50,16.5,7.0,48.0,8,8,4,2,0,0,2,38,0
1,Blake Martinez,76,GB,16,143,93,50,10.0,5.0,34.0,6,3,0,0,0,0,0,0,0
2,Leighton Vander Esch,84,DAL,16,141,103,38,3.0,0.0,0.0,1,7,0,0,0,0,2,56,0
3,Bobby Wagner,97,SEA,15,137,82,55,6.0,1.0,9.0,7,10,2,1,11,0,1,98,1
4,Anthony Hitchens,79,KC,15,137,82,55,6.5,0.0,0.0,1,0,1,0,0,0,0,0,0

In [24]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs_1 = defs.drop(['RTG', 'TEAM', 'GP'], axis = 1)

In [5]:
defs_1.head()

,NAME,TCKL,SOLO,AST,TFL,SCK,SCK YDS,QBH,PASS DEF,FF,FUMR,FUMR YDS,FUMR TD,INT,INT YDS,INT TD
0,Darius Leonard,161,111,50,16.5,7.0,48.0,8,8,4,2,0,0,2,38,0
1,Blake Martinez,143,93,50,10.0,5.0,34.0,6,3,0,0,0,0,0,0,0
2,Leighton Vander Esch,141,103,38,3.0,0.0,0.0,1,7,0,0,0,0,2,56,0
3,Bobby Wagner,137,82,55,6.0,1.0,9.0,7,10,2,1,11,0,1,98,1
4,Anthony Hitchens,137,82,55,6.5,0.0,0.0,1,0,1,0,0,0,0,0,0

In [6]:
defs_1['TCKL_rank'] = defs_1['TCKL'].rank(ascending = False)

In [7]:
defs_1['SOLO_rank'] = defs_1['SOLO'].rank(ascending = False)

In [8]:
defs_1['AST_rank'] = defs_1['AST'].rank(ascending = False)

In [9]:
defs_1['TFL_rank'] = defs_1['TFL'].rank(ascending = False)

In [10]:
defs_1['SCK_rank'] = defs_1['SCK'].rank(ascending = False)

In [11]:
defs_1['SCK YDS_rank'] = defs_1['SCK YDS'].rank(ascending = False)

In [12]:
defs_1['QBH_rank'] = defs_1['QBH'].rank(ascending = False)

In [13]:
defs_1['PASS DEF_rank'] = defs_1['PASS DEF'].rank(ascending = False)

In [14]:
defs_1['FF_rank'] = defs_1['FF'].rank(ascending = False)

In [15]:
defs_1['FUMR_rank'] = defs_1['FUMR'].rank(ascending = False)

In [16]:
defs_1['FUMR YDS_rank'] = defs_1['FUMR YDS'].rank(ascending = False)

In [17]:
defs_1['FUMR TD_rank'] = defs_1['FUMR TD'].rank(ascending = False)

In [18]:
defs_1['INT_rank'] = defs_1['INT'].rank(ascending = False)

In [19]:
defs_1['INT YDS_rank'] = defs_1['INT YDS'].rank(ascending = False)

In [20]:
defs_1['INT TD_rank'] = defs_1['INT TD'].rank(ascending = False)

In [21]:
defs_1

,NAME,TCKL,SOLO,AST,TFL,SCK,SCK YDS,QBH,PASS DEF,FF,...,SCK YDS_rank,QBH_rank,PASS DEF_rank,FF_rank,FUMR_rank,FUMR YDS_rank,FUMR TD_rank,INT_rank,INT YDS_rank,INT TD_rank
0,Darius Leonard,161,111,50,16.5,7.0,48.0,8,8,4,...,13.0,27.5,53.0,5.5,13.0,116.5,105.0,54.5,37.0,114.0
1,Blake Martinez,143,93,50,10.0,5.0,34.0,6,3,0,...,25.5,39.5,147.0,153.5,144.5,116.5,105.0,164.5,151.5,114.0
2,Leighton Vander Esch,141,103,38,3.0,0.0,0.0,1,7,0,...,159.0,129.5,64.5,153.5,144.5,116.5,105.0,54.5,19.0,114.0
3,Bobby Wagner,137,82,55,6.0,1.0,9.0,7,10,2,...,74.5,32.5,27.5,28.0,56.0,20.5,105.0,99.5,5.0,14.5
4,Anthony Hitchens,137,82,55,6.5,0.0,0.0,1,0,1,...,159.0,129.5,195.5,73.0,144.5,116.5,105.0,164.5,151.5,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Nevin Lawson,52,43,9,2.0,1.0,6.0,1,5,0,...,98.0,129.5,100.0,153.5,144.5,116.5,105.0,164.5,151.5,114.0
196,PJ Williams,53,43,10,4.0,1.0,10.0,2,9,2,...,67.0,94.0,39.0,28.0,144.5,116.5,105.0,99.5,28.0,14.5
197,Denzel Ward,53,41,12,5.0,0.0,0.0,0,11,1,...,159.0,176.5,21.0,73.0,13.0,10.0,105.0,25.0,55.5,114.0
198,Deion Jones,52,34,18,1.0,1.0,4.0,1,6,1,...,110.0,129.5,79.5,73.0,144.5,116.5,105.0,54.5,15.5,14.5
199,Preston Smith,52,31,21,8.0,4.0,32.5,16,3,1,...,27.0,13.0,147.0,73.0,56.0,34.5,5.0,99.5,94.0,114.0

In [22]:
defs_1_rank = defs_1.drop(['TCKL', 'SOLO', 'AST', 'TFL', 'SCK', 'SCK YDS', 
             'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
             'INT', 'INT YDS', 'INT TD'], axis = 1)

In [23]:
defs_1_rank.head()

,NAME,TCKL_rank,SOLO_rank,AST_rank,TFL_rank,SCK_rank,SCK YDS_rank,QBH_rank,PASS DEF_rank,FF_rank,FUMR_rank,FUMR YDS_rank,FUMR TD_rank,INT_rank,INT YDS_rank,INT TD_rank
0,Darius Leonard,1.0,1.0,3.5,11.0,14.5,13.0,27.5,53.0,5.5,13.0,116.5,105.0,54.5,37.0,114.0
1,Blake Martinez,2.0,6.5,3.5,28.5,22.5,25.5,39.5,147.0,153.5,144.5,116.5,105.0,164.5,151.5,114.0
2,Leighton Vander Esch,3.0,2.0,15.0,119.0,162.0,159.0,129.5,64.5,153.5,144.5,116.5,105.0,54.5,19.0,114.0
3,Bobby Wagner,4.5,15.5,1.5,57.5,91.0,74.5,32.5,27.5,28.0,56.0,20.5,105.0,99.5,5.0,14.5
4,Anthony Hitchens,4.5,15.5,1.5,52.5,162.0,159.0,129.5,195.5,73.0,144.5,116.5,105.0,164.5,151.5,114.0

In [25]:
defs_1_rank.columns

Index(['NAME', 'TCKL_rank', 'SOLO_rank', 'AST_rank', 'TFL_rank', 'SCK_rank',
       'SCK YDS_rank', 'QBH_rank', 'PASS DEF_rank', 'FF_rank', 'FUMR_rank',
       'FUMR YDS_rank', 'FUMR TD_rank', 'INT_rank', 'INT YDS_rank',
       'INT TD_rank'],
      dtype='object')

In [26]:
defs_1_rank_avg = defs_1_rank.groupby('NAME', sort = False).mean()

In [27]:
defs_1_rank_avg

,TCKL_rank,SOLO_rank,AST_rank,TFL_rank,SCK_rank,SCK YDS_rank,QBH_rank,PASS DEF_rank,FF_rank,FUMR_rank,FUMR YDS_rank,FUMR TD_rank,INT_rank,INT YDS_rank,INT TD_rank
NAME,,,,,,,,,,,,,,,
Darius Leonard,1.0,1.0,3.5,11.0,14.5,13.0,27.5,53.0,5.5,13.0,116.5,105.0,54.5,37.0,114.0
Blake Martinez,2.0,6.5,3.5,28.5,22.5,25.5,39.5,147.0,153.5,144.5,116.5,105.0,164.5,151.5,114.0
Leighton Vander Esch,3.0,2.0,15.0,119.0,162.0,159.0,129.5,64.5,153.5,144.5,116.5,105.0,54.5,19.0,114.0
Bobby Wagner,4.5,15.5,1.5,57.5,91.0,74.5,32.5,27.5,28.0,56.0,20.5,105.0,99.5,5.0,14.5
Anthony Hitchens,4.5,15.5,1.5,52.5,162.0,159.0,129.5,195.5,73.0,144.5,116.5,105.0,164.5,151.5,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Nevin Lawson,199.0,155.5,190.0,147.5,91.0,98.0,129.5,100.0,153.5,144.5,116.5,105.0,164.5,151.5,114.0
PJ Williams,194.5,155.5,183.0,97.0,91.0,67.0,94.0,39.0,28.0,144.5,116.5,105.0,99.5,28.0,14.5
Denzel Ward,194.5,167.5,164.0,79.0,162.0,159.0,176.5,21.0,73.0,13.0,10.0,105.0,25.0,55.5,114.0
Deion Jones,199.0,192.5,116.5,175.5,91.0,110.0,129.5,79.5,73.0,144.5,116.5,105.0,54.5,15.5,14.5
Preston Smith,199.0,196.5,93.5,39.0,30.5,27.0,13.0,147.0,73.0,56.0,34.5,5.0,99.5,94.0,114.0

In [28]:
defs_1_rank_avg['overall'] = (defs_1_rank_avg['TCKL_rank'] + defs_1_rank_avg['SOLO_rank'] + defs_1_rank_avg['AST_rank'] + defs_1_rank_avg['TFL_rank'] +
defs_1_rank_avg['SCK_rank'] + defs_1_rank_avg['SCK YDS_rank'] + defs_1_rank_avg['QBH_rank'] + defs_1_rank_avg['PASS DEF_rank'] +
defs_1_rank_avg['FF_rank'] + defs_1_rank_avg['FUMR_rank'] + defs_1_rank_avg['FUMR YDS_rank'] + defs_1_rank_avg['FUMR TD_rank'] +
defs_1_rank_avg['INT_rank'] + defs_1_rank_avg['INT YDS_rank'] + defs_1_rank_avg['INT TD_rank']) / 15

In [29]:
defs_1_rank_avg

,TCKL_rank,SOLO_rank,AST_rank,TFL_rank,SCK_rank,SCK YDS_rank,QBH_rank,PASS DEF_rank,FF_rank,FUMR_rank,FUMR YDS_rank,FUMR TD_rank,INT_rank,INT YDS_rank,INT TD_rank,overall
NAME,,,,,,,,,,,,,,,,
Darius Leonard,1.0,1.0,3.5,11.0,14.5,13.0,27.5,53.0,5.5,13.0,116.5,105.0,54.5,37.0,114.0,38.000000
Blake Martinez,2.0,6.5,3.5,28.5,22.5,25.5,39.5,147.0,153.5,144.5,116.5,105.0,164.5,151.5,114.0,81.633333
Leighton Vander Esch,3.0,2.0,15.0,119.0,162.0,159.0,129.5,64.5,153.5,144.5,116.5,105.0,54.5,19.0,114.0,90.733333
Bobby Wagner,4.5,15.5,1.5,57.5,91.0,74.5,32.5,27.5,28.0,56.0,20.5,105.0,99.5,5.0,14.5,42.200000
Anthony Hitchens,4.5,15.5,1.5,52.5,162.0,159.0,129.5,195.5,73.0,144.5,116.5,105.0,164.5,151.5,114.0,105.933333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Nevin Lawson,199.0,155.5,190.0,147.5,91.0,98.0,129.5,100.0,153.5,144.5,116.5,105.0,164.5,151.5,114.0,137.333333
PJ Williams,194.5,155.5,183.0,97.0,91.0,67.0,94.0,39.0,28.0,144.5,116.5,105.0,99.5,28.0,14.5,97.133333
Denzel Ward,194.5,167.5,164.0,79.0,162.0,159.0,176.5,21.0,73.0,13.0,10.0,105.0,25.0,55.5,114.0,101.266667
Deion Jones,199.0,192.5,116.5,175.5,91.0,110.0,129.5,79.5,73.0,144.5,116.5,105.0,54.5,15.5,14.5,107.800000
Preston Smith,199.0,196.5,93.5,39.0,30.5,27.0,13.0,147.0,73.0,56.0,34.5,5.0,99.5,94.0,114.0,81.433333

In [30]:
defs_overall_rank = {}

In [31]:
defs_overall_rank['overall'] = defs_1_rank_avg['overall']

In [32]:
defs_overall_rank = pd.DataFrame(defs_overall_rank)

In [33]:
defs_overall_rank['final_rank'] = defs_overall_rank['overall'].rank()

In [34]:
defs_final_overall_rank = defs_overall_rank['final_rank']

In [35]:
defs_final_overall_rank = pd.DataFrame(defs_final_overall_rank)

In [36]:
defs_final_overall_rank = defs_final_overall_rank.sort_values('final_rank')

In [37]:
defs_final_overall_rank

                 final_rank
NAME
Darius Leonard          1.0
Bobby Wagner            2.0
Jamal Adams             3.0
Jayon Brown             4.0
Cory Littleton          5.0
...                     ...
Eric Murray           196.0
Ben Gedeon            197.0
Rashaan Evans         198.0
Tramon Williams       199.0
Gerald Hodges         200.0

[200 rows x 1 columns]

In [38]:
defs_final_overall_rank.to_csv('../Capstone_csv_file/defense_final_rank_18-19.csv', index = False)