# Defense Tackle Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'SCK']]

In [7]:
defs.head()

             NAME  SCK
0    Bobby Wagner  3.0
1  Blake Martinez  3.0
2    Jordan Hicks  1.5
3     Budda Baker  0.5
4    Luke Kuechly  0.0

In [8]:
defs['SCK_rank'] = defs['SCK'].rank(ascending = False)

In [9]:
defs = defs.sort_values('SCK_rank')

In [10]:
defs

                 NAME   SCK  SCK_rank
165   Shaquil Barrett  19.0       1.0
189           TJ Watt  14.5       2.5
103   Danielle Hunter  14.5       2.5
186   Za'Darius Smith  13.5       4.0
181     Preston Smith  12.0       5.0
..                ...   ...       ...
93    Nicholas Morrow   0.0     159.5
90     Damontae Kazee   0.0     159.5
89    Charvarius Ward   0.0     159.5
85     Drue Tranquill   0.0     159.5
199  Clayton Geathers   0.0     159.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_sck_rank_19-20.csv')