# Defense Fumble Recovery Yards Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'FUMR YDS']]

In [7]:
defs.head()

                   NAME  FUMR YDS
0        Darius Leonard         0
1        Blake Martinez         0
2  Leighton Vander Esch         0
3          Bobby Wagner        11
4      Anthony Hitchens         0

In [8]:
defs['FUMR YDS_rank'] = defs['FUMR YDS'].rank(ascending = False)

In [9]:
defs = defs.sort_values('FUMR YDS_rank')

In [10]:
defs

                   NAME  FUMR YDS  FUMR YDS_rank
147   Marshon Lattimore        91            1.0
14         Jaylon Smith        69            2.0
166       Linval Joseph        64            3.0
189    Patrick Peterson        49            4.0
50         Kyle Van Noy        46            5.0
..                  ...       ...            ...
70   Minkah Fitzpatrick         0          116.5
32       Anthony Walker        -1          197.5
78         Thomas Davis        -1          197.5
75         Pierre Desir        -2          199.5
109     Janoris Jenkins        -2          199.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_fumr_yds_rank_18-19.csv')