# Defense Interception Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'INT']]

In [7]:
defs.head()

                NAME  INT
0     Blake Martinez    1
1      Preston Brown    0
2       Joe Schobert    1
3  Christian Kirksey    0
4        Deion Jones    3

In [8]:
defs['INT_rank'] = defs['INT'].rank(ascending = False)

In [9]:
defs = defs.sort_values('INT_rank')

In [10]:
defs

                NAME  INT  INT_rank
49       Kevin Byard    8       1.5
154      Darius Slay    8       1.5
137      Eric Weddle    6       3.5
174         AJ Bouye    6       3.5
79    Harrison Smith    5       7.0
..               ...  ...       ...
125     Tyvon Branch    0     158.0
124  Vontaze Burfict    0     158.0
61       Jamal Adams    0     158.0
150       Ryan Smith    0     158.0
143       Logan Ryan    0     158.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_int_rank_17-18.csv')