# Defense Interception TD Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'INT TD']]

In [7]:
defs.head()

             NAME  INT TD
0    Bobby Wagner       0
1  Blake Martinez       0
2    Jordan Hicks       0
3     Budda Baker       0
4    Luke Kuechly       0

In [8]:
defs['INT TD_rank'] = defs['INT TD'].rank(ascending = False)

In [9]:
defs = defs.sort_values('INT TD_rank')

In [10]:
defs

                  NAME  INT TD  INT TD_rank
88         Erik Harris       2          1.0
150  Vernon Hargreaves       1         10.5
41         Taylor Rapp       1         10.5
17         Fred Warner       1         10.5
16      Darius Leonard       1         10.5
..                 ...     ...          ...
71        Anthony Barr       0        110.0
72        Byron Murphy       0        110.0
75         Justin Reid       0        110.0
63         Tre Flowers       0        110.0
199   Clayton Geathers       0        110.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_int_td_rank_19-20.csv')