# Defense Interception Yards Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'INT YDS']]

In [7]:
defs.head()

             NAME  INT YDS
0    Bobby Wagner        6
1  Blake Martinez       22
2    Jordan Hicks       64
3     Budda Baker        0
4    Luke Kuechly       26

In [8]:
defs['INT YDS_rank'] = defs['INT YDS'].rank(ascending = False)

In [9]:
defs = defs.sort_values('INT YDS_rank')

In [10]:
defs

                    NAME  INT YDS  INT YDS_rank
88           Erik Harris      145           1.0
106   Minkah Fitzpatrick      130           2.0
73   Ha'Sean Clinton-Dix       96           3.0
16        Darius Leonard       92           4.0
60         Jamie Collins       85           5.0
..                   ...      ...           ...
198        Arik Armstead        0         148.0
103      Danielle Hunter        0         148.0
94         Markus Golden        0         148.0
199     Clayton Geathers        0         148.0
12    De'Vondre Campbell       -5         200.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_int_yds_rank_19-20.csv')