# Defense Fumble Recovered Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'FUMR']]

In [7]:
defs.head()

                   NAME  FUMR
0        Darius Leonard     2
1        Blake Martinez     0
2  Leighton Vander Esch     0
3          Bobby Wagner     1
4      Anthony Hitchens     0

In [8]:
defs['FUMR_rank'] = defs['FUMR'].rank(ascending = False)

In [9]:
defs = defs.sort_values('FUMR_rank')

In [10]:
defs

                  NAME  FUMR  FUMR_rank
83         Matt Milano     3        1.5
147  Marshon Lattimore     3        1.5
0       Darius Leonard     2       13.0
56         Justin Reid     2       13.0
66      Devin McCourty     2       13.0
..                 ...   ...        ...
107       Reshad Jones     0      144.5
106     Chidobe Awuzie     0      144.5
102    Adoree` Jackson     0      144.5
138       Jordan Evans     0      144.5
99       Donte Jackson     0      144.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_fumr_rank_18-19.csv')