# Defense Tackle Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'TFL']]

In [7]:
defs.head()

                   NAME   TFL
0        Darius Leonard  16.5
1        Blake Martinez  10.0
2  Leighton Vander Esch   3.0
3          Bobby Wagner   6.0
4      Anthony Hitchens   6.5

In [8]:
defs['TFL_rank'] = defs['TFL'].rank(ascending = False)

In [9]:
defs = defs.sort_values('TFL_rank')

In [10]:
defs

                     NAME   TFL  TFL_rank
151          Aaron Donald  30.0       1.0
135               JJ Watt  24.0       2.5
7            Luke Kuechly  24.0       2.5
104       Calais Campbell  23.0       4.0
130     Demarcus Lawrence  21.0       5.0
..                    ...   ...       ...
181           Eric Murray   0.0     193.0
106        Chidobe Awuzie   0.0     193.0
179           Kyle Fuller   0.0     193.0
171  Briean Boddy-Calhoun   0.0     193.0
165    Hardy Nickerson Jr   0.0     193.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_tfl_rank_18-19.csv')