# Defense Fumble Recovered Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'FUMR']]

In [7]:
defs.head()

                NAME  FUMR
0     Blake Martinez     2
1      Preston Brown     0
2       Joe Schobert     0
3  Christian Kirksey     1
4        Deion Jones     0

In [8]:
defs['FUMR_rank'] = defs['FUMR'].rank(ascending = False)

In [9]:
defs = defs.sort_values('FUMR_rank')

In [10]:
defs

                 NAME  FUMR  FUMR_rank
23      Lavonte David     5        1.0
16    Tahir Whitehead     4        2.0
98      Eddie Jackson     3        3.5
12       Reshad Jones     3        3.5
0      Blake Martinez     2       15.0
..                ...   ...        ...
89       Desmond King     0      139.0
90   Mychal Kendricks     0      139.0
91       Barry Church     0      139.0
125      Tyvon Branch     0      139.0
199    Jaquiski Tartt     0      139.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_fumr_rank_17-18.csv')