# Defense Interception TD Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'INT TD']]

In [7]:
defs.head()

                NAME  INT TD
0     Blake Martinez       0
1      Preston Brown       0
2       Joe Schobert       0
3  Christian Kirksey       0
4        Deion Jones       0

In [8]:
defs['INT TD_rank'] = defs['INT TD'].rank(ascending = False)

In [9]:
defs = defs.sort_values('INT TD_rank')

In [10]:
defs

                 NAME  INT TD  INT TD_rank
127  Trumaine Johnson       1         10.5
133       Jalen Mills       1         10.5
129    Jason McCourty       1         10.5
54        Glover Quin       1         10.5
81     Dontae Johnson       1         10.5
..                ...     ...          ...
74         Tre Boston       0        110.5
75        Karl Joseph       0        110.5
76     Andrew Sendejo       0        110.5
66          Jake Ryan       0        110.5
199    Jaquiski Tartt       0        110.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_int_td_rank_17-18.csv')