# Defense Interception Rank

In [2]:
import pandas as pd

In [3]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [4]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [5]:
defs = pd.DataFrame(defs)

In [6]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [7]:
defs = defs[['NAME', 'INT']]

In [8]:
defs.head()

             NAME  INT
0    Bobby Wagner    1
1  Blake Martinez    1
2    Jordan Hicks    3
3     Budda Baker    0
4    Luke Kuechly    2

In [9]:
defs['INT_rank'] = defs['INT'].rank(ascending = False)

In [10]:
defs = defs.sort_values('INT_rank')

In [11]:
defs

                   NAME  INT  INT_rank
159      Anthony Harris    6       1.5
173   Tre'Davious White    6       1.5
117          Kevin King    5       6.0
168      Devin McCourty    5       6.0
106  Minkah Fitzpatrick    5       6.0
..                  ...  ...       ...
129         Jimmie Ward    0     162.0
128    Shaquill Griffin    0     162.0
127    Patrick Onwuasor    0     162.0
124       Bobby Okereke    0     162.0
99         Khari Willis    0     162.0

[200 rows x 3 columns]

In [12]:
defs.to_csv('../Capstone_csv_file/defense_int_rank_19-20.csv')