# Defense Fumble Recovered for TD Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'FUMR TD']]

In [7]:
defs.head()

             NAME  FUMR TD
0    Bobby Wagner        0
1  Blake Martinez        0
2    Jordan Hicks        0
3     Budda Baker        0
4    Luke Kuechly        0

In [8]:
defs['FUMR TD_rank'] = defs['FUMR TD'].rank(ascending = False)

In [9]:
defs = defs.sort_values('FUMR TD_rank')

In [10]:
defs

                    NAME  FUMR TD  FUMR TD_rank
122      Marlon Humphrey        2           1.5
48           Devin White        2           1.5
86           Jamal Adams        1          10.0
170      Dante Fowler Jr        1          10.0
29            Devin Bush        1          10.0
..                   ...      ...           ...
71          Anthony Barr        0         109.0
72          Byron Murphy        0         109.0
73   Ha'Sean Clinton-Dix        0         109.0
64         Damien Wilson        0         109.0
199     Clayton Geathers        0         109.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_fumr_td_rank_19-20.csv')