# Defense Forced Fumbles Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'FF']]

In [7]:
defs.head()

                   NAME  FF
0        Darius Leonard   4
1        Blake Martinez   0
2  Leighton Vander Esch   0
3          Bobby Wagner   2
4      Anthony Hitchens   1

In [8]:
defs['FF_rank'] = defs['FF'].rank(ascending = False)

In [9]:
defs = defs.sort_values('FF_rank')

In [10]:
defs

                   NAME  FF  FF_rank
135             JJ Watt   7      1.0
116             TJ Watt   6      2.5
176            Dee Ford   6      2.5
147   Marshon Lattimore   5      4.0
0        Darius Leonard   4      5.5
..                  ...  ..      ...
47   De'Vondre Campbell   0    153.5
48        Alec Ogletree   0    153.5
51     Foyesade Oluokun   0    153.5
138        Jordan Evans   0    153.5
137        Bobby McCain   0    153.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_ff_rank_18-19.csv')