# Defense Fumble Recovered for TD Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'FUMR TD']]

In [7]:
defs.head()

                NAME  FUMR TD
0     Blake Martinez        0
1      Preston Brown        0
2       Joe Schobert        0
3  Christian Kirksey        0
4        Deion Jones        0

In [8]:
defs['FUMR TD_rank'] = defs['FUMR TD'].rank(ascending = False)

In [9]:
defs = defs.sort_values('FUMR TD_rank')

In [10]:
defs

                 NAME  FUMR TD  FUMR TD_rank
12       Reshad Jones        2           1.0
11    Wesley Woodyard        1           9.0
162    Justin Houston        1           9.0
19   Brandon Marshall        1           9.0
119   Calais Campbell        1           9.0
..                ...      ...           ...
75        Karl Joseph        0         108.5
76     Andrew Sendejo        0         108.5
77        Khalil Mack        0         108.5
68      Jatavis Brown        0         108.5
199    Jaquiski Tartt        0         108.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_fumr_td_rank_17-18.csv')