# Defense Tackle Rank

In [4]:
import pandas as pd

In [5]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [6]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [7]:
defs = pd.DataFrame(defs)

In [8]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [9]:
defs = defs[['NAME', 'SCK']]

In [10]:
defs.head()

                   NAME  SCK
0        Darius Leonard  7.0
1        Blake Martinez  5.0
2  Leighton Vander Esch  0.0
3          Bobby Wagner  1.0
4      Anthony Hitchens  0.0

In [11]:
defs['SCK_rank'] = defs['SCK'].rank(ascending = False)

In [12]:
defs = defs.sort_values('SCK_rank')

In [13]:
defs

                 NAME   SCK  SCK_rank
151      Aaron Donald  20.5       1.0
135           JJ Watt  16.0       2.0
105   Danielle Hunter  14.0       3.0
176          Dee Ford  13.5       4.0
116           TJ Watt  13.0       5.0
..                ...   ...       ...
80      Quandre Diggs   0.0     162.0
81     Brad McDougald   0.0     162.0
86   Jordan Whitehead   0.0     162.0
78       Thomas Davis   0.0     162.0
115       Marquel Lee   0.0     162.0

[200 rows x 3 columns]

In [14]:
defs.to_csv('../Capstone_csv_file/defense_sck_rank_18-19.csv')