# Defense Fumble Recovered for TD Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'FUMR TD']]

In [7]:
defs.head()

                   NAME  FUMR TD
0        Darius Leonard        0
1        Blake Martinez        0
2  Leighton Vander Esch        0
3          Bobby Wagner        0
4      Anthony Hitchens        0

In [8]:
defs['FUMR TD_rank'] = defs['FUMR TD'].rank(ascending = False)

In [9]:
defs = defs.sort_values('FUMR TD_rank')

In [10]:
defs

                NAME  FUMR TD  FUMR TD_rank
199    Preston Smith        1           5.0
105  Danielle Hunter        1           5.0
94        Josh Bynes        1           5.0
154     Justin Evans        1           5.0
36       Budda Baker        1           5.0
..               ...      ...           ...
71    Haason Reddick        0         105.0
72      Jerome Baker        0         105.0
73        Sean Davis        0         105.0
75      Pierre Desir        0         105.0
99     Donte Jackson        0         105.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_fumr_td_rank_18-19.csv')