# Defense Pass Defense Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [6]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [7]:
defs = defs[['NAME', 'PASS DEF']]

In [8]:
defs.head()

             NAME  PASS DEF
0    Bobby Wagner         6
1  Blake Martinez         2
2    Jordan Hicks         6
3     Budda Baker         6
4    Luke Kuechly        12

In [9]:
defs['PASS DEF_rank'] = defs['PASS DEF'].rank(ascending = False)

In [10]:
defs = defs.sort_values('PASS DEF_rank')

In [11]:
defs

                  NAME  PASS DEF  PASS DEF_rank
160      Carlton Davis        19            1.0
21          Logan Ryan        18            2.0
119          Joe Haden        17            3.5
164    Jaire Alexander        17            3.5
173  Tre'Davious White        16            5.5
..                 ...       ...            ...
94       Markus Golden         0          192.5
103    Danielle Hunter         0          192.5
157     Javon Hargrave         0          192.5
169        Troy Reeder         0          192.5
107      Grady Jarrett         0          192.5

[200 rows x 3 columns]

In [12]:
defs.to_csv('../Capstone_csv_file/defense_pass_def_rank_19-20.csv')