# Defense Tackle Rank

In [1]:
import pandas as pd

In [12]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [13]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [14]:
defs = pd.DataFrame(defs)

In [15]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [16]:
defs = defs[['NAME', 'SOLO']]

In [17]:
defs.head()

                   NAME  SOLO
0        Darius Leonard   111
1        Blake Martinez    93
2  Leighton Vander Esch   103
3          Bobby Wagner    82
4      Anthony Hitchens    82

In [18]:
defs['SOLO_rank'] = defs['SOLO'].rank(ascending = False)

In [19]:
defs = defs.sort_values('SOLO_rank')

In [20]:
defs

                     NAME  SOLO  SOLO_rank
0          Darius Leonard   111        1.0
2    Leighton Vander Esch   103        2.0
5            Telvin Smith   100        3.5
16         Antoine Bethea   100        3.5
18          Lavonte David    95        5.0
..                    ...   ...        ...
127       Elandon Roberts    31      196.5
199         Preston Smith    31      196.5
148      Dalvin Tomlinson    30      198.5
192            Ben Gedeon    30      198.5
150          Lawrence Guy    25      200.0

[200 rows x 3 columns]

In [21]:
defs.to_csv('../Capstone_csv_file/defense_solo_tackle_rank_18-19.csv')