# Defense Tackle Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'QBH']]

In [7]:
defs.head()

             NAME  QBH
0    Bobby Wagner    3
1  Blake Martinez    3
2    Jordan Hicks    7
3     Budda Baker    3
4    Luke Kuechly    5

In [8]:
defs['QBH_rank'] = defs['QBH'].rank(ascending = False)

In [9]:
defs = defs.sort_values('QBH_rank')

In [10]:
defs

                 NAME  QBH  QBH_rank
165   Shaquil Barrett   37       1.5
186   Za'Darius Smith   37       1.5
189           TJ Watt   35       3.0
195        Matt Judon   31       4.0
115         Joey Bosa   30       5.0
..                ...  ...       ...
79       Levi Wallace    0     176.0
77       Xavier Woods    0     176.0
166    Juan Thornhill    0     176.0
169       Troy Reeder    0     176.0
199  Clayton Geathers    0     176.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_qbh_rank_19-20.csv')