# Defense Interception Yards Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'INT YDS']]

In [7]:
defs.head()

                   NAME  INT YDS
0        Darius Leonard       38
1        Blake Martinez        0
2  Leighton Vander Esch       56
3          Bobby Wagner       98
4      Anthony Hitchens        0

In [8]:
defs['INT YDS_rank'] = defs['INT YDS'].rank(ascending = False)

In [9]:
defs = defs.sort_values('INT YDS_rank')

In [10]:
defs

                   NAME  INT YDS  INT YDS_rank
23       Shawn Williams      131           1.0
56          Justin Reid      128           2.0
107        Reshad Jones      109           3.0
152     Marcus Williams      100           4.0
3          Bobby Wagner       98           5.0
..                  ...      ...           ...
126        Jalen Ramsey        0         151.5
123     Desmond Trufant        0         151.5
122         Tre Flowers        0         151.5
47   De'Vondre Campbell        0         151.5
99        Donte Jackson        0         151.5

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_int_yds_rank_18-19.csv')