# Defense Tackle Rank

In [1]:
import pandas as pd

In [3]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [9]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [11]:
defs = pd.DataFrame(defs)

In [13]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [15]:
defs = defs[['NAME', 'TCKL']]

In [16]:
defs.head()

             NAME  TCKL
0    Bobby Wagner   158
1  Blake Martinez   154
2    Jordan Hicks   148
3     Budda Baker   148
4    Luke Kuechly   144

In [18]:
defs['TCKL_rank'] = defs['TCKL'].rank(ascending = False)

/Users/cheywest/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
defs

                 NAME  TCKL  TCKL_rank
0        Bobby Wagner   158        1.0
1      Blake Martinez   154        2.0
2        Jordan Hicks   148        3.5
3         Budda Baker   148        3.5
4        Luke Kuechly   144        5.0
..                ...   ...        ...
195        Matt Judon    52      200.0
196  Rayshawn Jenkins    54      195.5
197    Justin Coleman    54      195.5
198     Arik Armstead    54      195.5
199  Clayton Geathers    54      195.5

[200 rows x 3 columns]

In [21]:
defs.to_csv('../Capstone_csv_file/defense_tackle_rank_19-20.csv')