# Defense Tackle Rank

In [12]:
import pandas as pd

In [13]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [14]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [15]:
defs = pd.DataFrame(defs)

In [16]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [17]:
defs = defs[['NAME', 'SCK YDS']]

In [18]:
defs.head()

                   NAME  SCK YDS
0        Darius Leonard     48.0
1        Blake Martinez     34.0
2  Leighton Vander Esch      0.0
3          Bobby Wagner      9.0
4      Anthony Hitchens      0.0

In [19]:
defs['SCK YDS_rank'] = defs['SCK YDS'].rank(ascending = False)

In [20]:
defs = defs.sort_values('SCK YDS_rank')

In [21]:
defs

                NAME  SCK YDS  SCK YDS_rank
151     Aaron Donald    183.5           1.0
135          JJ Watt    126.0           2.0
116          TJ Watt     92.0           3.0
146    Bradley Chubb     89.0           4.0
105  Danielle Hunter     87.0           5.0
..               ...      ...           ...
61        Jeff Heath      0.0         159.0
117    Steven Nelson      0.0         159.0
17      John Johnson      0.0         159.0
129      Josh Norman      0.0         159.0
27   Zach Cunningham      0.0         159.0

[200 rows x 3 columns]

In [22]:
defs.to_csv('../Capstone_csv_file/defense_sck_yds_rank_18-19.csv')