# Defense Tackle Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'TCKL']]

In [7]:
defs.head()

                   NAME  TCKL
0        Darius Leonard   161
1        Blake Martinez   143
2  Leighton Vander Esch   141
3          Bobby Wagner   137
4      Anthony Hitchens   137

In [8]:
defs['TCKL_rank'] = defs['TCKL'].rank(ascending = False)

In [9]:
defs

                     NAME  TCKL  TCKL_rank
0          Darius Leonard   161        1.0
1          Blake Martinez   143        2.0
2    Leighton Vander Esch   141        3.0
3            Bobby Wagner   137        4.5
4        Anthony Hitchens   137        4.5
..                    ...   ...        ...
195          Nevin Lawson    52      199.0
196           PJ Williams    53      194.5
197           Denzel Ward    53      194.5
198           Deion Jones    52      199.0
199         Preston Smith    52      199.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_tackle_rank_18-19.csv')