# Defense Interception TD Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_18-19.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'INT TD']]

In [7]:
defs.head()

                   NAME  INT TD
0        Darius Leonard       0
1        Blake Martinez       0
2  Leighton Vander Esch       0
3          Bobby Wagner       1
4      Anthony Hitchens       0

In [8]:
defs['INT TD_rank'] = defs['INT TD'].rank(ascending = False)

In [9]:
defs = defs.sort_values('INT TD_rank')

In [10]:
defs

                 NAME  INT TD  INT TD_rank
48      Alec Ogletree       2          1.0
134      Desmond King       1         14.5
84         Ron Parker       1         14.5
42        Jayon Brown       1         14.5
162  Johnathan Joseph       1         14.5
..                ...     ...          ...
76         Tre Boston       0        114.0
77      Shaq Thompson       0        114.0
78       Thomas Davis       0        114.0
54     Tyrann Mathieu       0        114.0
199     Preston Smith       0        114.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_int_td_rank_18-19.csv')