# Defense Tackle Rank

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [3]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs = pd.DataFrame(defs)

In [5]:
defs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TCKL', 'SOLO', 'AST', 'TFL', 'SCK',
       'SCK YDS', 'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
       'INT', 'INT YDS', 'INT TD'],
      dtype='object')

In [6]:
defs = defs[['NAME', 'AST']]

In [7]:
defs.head()

             NAME  AST
0    Bobby Wagner   70
1  Blake Martinez   57
2    Jordan Hicks   56
3     Budda Baker   43
4    Luke Kuechly   64

In [8]:
defs['AST_rank'] = defs['AST'].rank(ascending = False)

In [9]:
defs = defs.sort_values('AST_rank')

In [10]:
defs

               NAME  AST  AST_rank
0      Bobby Wagner   70       1.0
4      Luke Kuechly   64       2.0
10        KJ Wright   63       3.0
1    Blake Martinez   57       4.5
6      Jaylon Smith   57       4.5
..              ...  ...       ...
160   Carlton Davis    6     196.5
119       Joe Haden    6     196.5
174       Eli Apple    5     198.5
135  Darryl Roberts    5     198.5
175     Trae Waynes    2     200.0

[200 rows x 3 columns]

In [11]:
defs.to_csv('../Capstone_csv_file/defense_ast_rank_19-20.csv')