# Widereceiver EDA

In [1]:
import pandas as pd

In [2]:
wrs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/wide_receiver_17-18.txt')

In [3]:
wrs

,NAME,RTG,TEAM,GP,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML
0,Antonio Brown,99,PIT,14,162,101,11.6,"1,533",8,204.7,9,57,4,0
1,Julio Jones,97,ATL,16,148,88,9.2,"1,444",4,260.2,3,53,0,0
2,Odell Beckham Jr,97,NYG,4,41,25,10.2,302,0,50.1,3,48,0,0
3,Larry Fitzgerald,85,ARI,16,161,109,10.1,"1,156",4,160.9,6,37,1,1
4,AJ Green,91,CIN,16,144,75,9.0,"1,078",3,217.1,8,77,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,Griff Whalen,60,BAL,2,6,4,3.0,23,0,5.8,0,9,0,0
222,Travis Rudolph,60,NYG,7,21,8,3.0,101,0,57.0,0,29,0,0
223,Marcus Johnson,60,PHI,10,8,5,0.8,45,0,29.7,0,16,1,1
224,Kendrick Bourne,77,SF,11,34,16,3.1,257,0,106.2,0,54,0,0
225,Andy Jones,58,DET,3,0,0,0.0,0,0,0.0,0,0,0,0

In [4]:
wrs['YDS'] = wrs['YDS'].str.replace(',', '').astype('int64')

In [5]:
wrs.rename(columns=lambda x: x.strip(), inplace = True)

In [6]:
wrs = wrs[wrs['TGT'] > 16].copy()

In [7]:
wrs

,NAME,RTG,TEAM,GP,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML
0,Antonio Brown,99,PIT,14,162,101,11.6,1533,8,204.7,9,57,4,0
1,Julio Jones,97,ATL,16,148,88,9.2,1444,4,260.2,3,53,0,0
2,Odell Beckham Jr,97,NYG,4,41,25,10.2,302,0,50.1,3,48,0,0
3,Larry Fitzgerald,85,ARI,16,161,109,10.1,1156,4,160.9,6,37,1,1
4,AJ Green,91,CIN,16,144,75,9.0,1078,3,217.1,8,77,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,Bryce Treggs,62,CLE,6,18,5,3.0,79,0,65.0,0,20,1,1
209,Johnny Holton,62,OAK,16,18,9,1.1,218,0,156.5,3,64,3,2
213,Damiere Byrd,72,CAR,8,17,10,2.1,105,0,58.7,2,31,0,0
222,Travis Rudolph,60,NYG,7,21,8,3.0,101,0,57.0,0,29,0,0
224,Kendrick Bourne,77,SF,11,34,16,3.1,257,0,106.2,0,54,0,0

In [8]:
wrs = wrs.groupby('NAME', sort = False).mean()

In [9]:
wrs.drop(columns = ['RTG', 'GP'], axis = 1, inplace = True)

In [10]:
wrs_stats = wrs.copy()

In [11]:
wrs_rank = {}

In [12]:
wrs_rank['YDS_rank'] = wrs['YDS'].rank(ascending = False)

In [13]:
wrs_rank['TGT_rank'] = wrs['TGT'].rank(ascending = False)

In [14]:
wrs_rank['REC_rank'] = wrs['REC'].rank(ascending = False)

In [15]:
wrs_rank['TGT/G_rank'] = wrs['TGT/G'].rank(ascending = False)

In [16]:
wrs_rank['100+ YDS_rank'] = wrs['100+ YDS'].rank(ascending = False)

In [17]:
wrs_rank['YDS/REC_rank'] = wrs['YDS/REC'].rank(ascending = False)

In [18]:
wrs_rank['TD_rank'] = wrs['TD'].rank(ascending = False)

In [19]:
wrs_rank['LONG_rank'] = wrs['LONG'].rank(ascending = False)

In [20]:
wrs_rank['FUM_rank'] = wrs['FUM'].rank()

In [21]:
wrs_rank['FUML_rank'] = wrs['FUML'].rank()

In [22]:
wrs_rank['overall'] = (wrs_rank['TGT_rank'] + wrs_rank['REC_rank'] + wrs_rank['TGT/G_rank'] + wrs_rank['100+ YDS_rank'] +
            wrs_rank['YDS/REC_rank'] + wrs_rank['TD_rank'] + wrs_rank['LONG_rank'] +
            wrs_rank['FUM_rank'] + wrs_rank['FUML_rank'] + wrs_rank['YDS_rank'])/10

In [23]:
wrs_rank = pd.DataFrame(wrs_rank)

In [24]:
wrs_final_rank = {}

In [25]:
wrs_final_rank['final_rank'] = wrs_rank['overall'].rank()

In [26]:
wrs_final_rank = pd.DataFrame(wrs_final_rank)

In [27]:
wrs_final_rank = wrs_final_rank.sort_values('final_rank')

In [28]:
wrs_final_rank.to_csv('../Capstone_csv_file/wrs_final_rank_17-18')

In [29]:
wrs = wrs_stats.merge(wrs_rank, on = 'NAME')

In [30]:
wrs.to_csv('../Capstone_csv_file/wrs_stats_rank_17-18')

In [31]:
wrs

,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML,...,TGT_rank,REC_rank,TGT/G_rank,100+ YDS_rank,YDS/REC_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank,overall
NAME,,,,,,,,,,,,,,,,,,,,,
Antonio Brown,162,101,11.6,1533,8,204.7,9,57,4,0,...,2.0,5.0,1.5,1.0,34.0,4.5,41.0,135.5,54.0,27.95
Julio Jones,148,88,9.2,1444,4,260.2,3,53,0,0,...,7.0,9.0,8.0,6.0,5.0,57.0,54.5,40.5,54.0,24.30
Odell Beckham Jr,41,25,10.2,302,0,50.1,3,48,0,0,...,96.0,89.0,3.0,99.5,134.0,57.0,67.5,40.5,54.0,73.45
Larry Fitzgerald,161,109,10.1,1156,4,160.9,6,37,1,1,...,3.5,2.0,4.5,6.0,57.0,23.0,97.0,98.5,118.5,41.80
AJ Green,144,75,9.0,1078,3,217.1,8,77,2,2,...,8.0,12.0,10.0,12.0,24.0,10.0,7.5,122.0,133.5,35.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Bryce Treggs,18,5,3.0,79,0,65.0,0,20,1,1,...,132.5,137.5,104.0,99.5,124.0,127.5,131.5,98.5,118.5,120.75
Johnny Holton,18,9,1.1,218,0,156.5,3,64,3,2,...,132.5,132.5,139.0,99.5,62.0,57.0,24.5,130.5,133.5,102.10
Damiere Byrd,17,10,2.1,105,0,58.7,2,31,0,0,...,137.0,130.0,121.5,99.5,127.0,79.0,108.5,40.5,54.0,102.40
Travis Rudolph,21,8,3.0,101,0,57.0,0,29,0,0,...,127.0,134.5,104.0,99.5,128.0,127.5,115.0,40.5,54.0,105.90
Kendrick Bourne,34,16,3.1,257,0,106.2,0,54,0,0,...,108.0,116.0,101.5,99.5,101.0,127.5,49.0,40.5,54.0,89.70