# Tightends Tgt/G Rank

In [1]:
import pandas as pd

In [2]:
tes = pd.read_csv('../Capstone_csv_file/tes_stats_rank_19-20', index_col = 'NAME')

In [3]:
tes.head()

,TGT,REC,TGT/G,100+ YDS,YDS/REC,TD,LONG,FUM,FUML,TGT_rank,REC_rank,TGT/G_rank,100+ YDS_rank,YDS/REC_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank,overall
NAME,,,,,,,,,,,,,,,,,,,
Jacob Hollister,59,41,5.4,0,8.5,3,22,0,0,19.5,17.0,13.0,39.5,54.5,25.5,56.5,21.5,27.0,30.444444
Benjamin Watson,24,17,2.4,0,10.2,0,26,0,0,50.0,45.5,46.0,39.5,37.5,61.5,44.5,21.5,27.0,41.444444
Travis Kelce,136,97,8.5,2,12.7,5,47,1,1,1.0,1.0,2.5,6.0,10.5,10.0,15.5,52.0,58.5,17.444444
Delanie Walker,31,21,4.4,0,10.2,2,29,1,0,40.5,41.5,23.0,39.5,37.5,38.5,39.0,52.0,27.0,37.611111
George Kittle,107,85,7.6,3,12.4,5,61,1,0,4.0,4.0,4.0,3.0,13.0,10.0,5.0,52.0,27.0,13.555556

In [4]:
tes = tes[['TGT/G', 'TGT/G_rank']]

In [5]:
tes = tes.sort_values('TGT/G_rank')

In [6]:
tes.to_csv('../Capstone_csv_file/tes_tgt_g_rank_19-20')